[2018-01-28 11:08] asgrim opened #3 "Identify when classes become final"
`class A {}`
`final class A {}`

[2018-01-28 11:11] asgrim opened #4 "Identify removed public / protected properties"
`class A { public $a; }`
`class A { }`

[2018-01-28 11:13] asgrim opened #5 "Identify reduced visibility of properties"
`class A { public $a; }`
`class A { protected $a; }`

and

`class A { protected $a; }`
`class A { private $a; }`

and

`class A { public $a; }`
`class A { private $a; }`

[2018-01-28 11:15] asgrim opened #6 "Identify reduced visibility of methods"
`class A { public function a() {} }`
`class A { protected function a() {} }`

and

`class A { protected function a() {} }`
`class A { private function a() {} }`

and

`class A { public function a() {} }`
`class A { private function a() {} }`

[2018-01-28 11:21] asgrim opened #7 "Identify added/changed parameter type declarations for public/protected methods"
`class A { public function a($a) {} }`
`class A { public function a(int $a) {} }`

`class A { public function a(int $a) {} }`
`class A { public function a(string $a) {} }`

`class A { protected function a($a) {} }`
`class A { protected function a(int $a) {} }`

`class A { protected function a(int $a) {} }`
`class A { protected function a(string $a) {} }`

[2018-01-28 11:27] asgrim opened #8 "Identify added return type to a protected/public method"
`class A { public function a() {} }`
`class A { public function a(): int {} }`

`class A { protected function a() {} }`
`class A { protected function a(): int {} }`

but *NOT* (possibly?)

`final class A { function a() {} }`
`final class A { function a(): int {} }`

[2018-01-28 11:29] asgrim opened #9 "Identify changing static flag on a method"
`class A { public function a() {} }`
`class A { public static function a() {} }`

`class A { public static function a() {} }`
`class A { public function a() {} }`

[2018-01-28 11:33] asgrim opened #10 "Identify removed public/protected class constants"
PHP 7.2 only:
`class A { public constant A = ''; }`
`class A { }`

PHP 7.2 only:
`class A { protected constant A = ''; }`
`class A { }`

PHP 7.2 only, and *NOT*:
`class A { private constant A = ''; }`
`class A { }`

Any PHP version:
`class A { constant A = ''; }`
`class A { }`

[2018-01-28 11:35] asgrim opened #11 "Identify changed visibility of constants"
PHP 7.2 only:
`class A { public constant A = ''; }`
`class A { protected constant A = ''; }`

PHP 7.2 only:
`class A { protected constant A = ''; }`
`class A { private constant A = ''; }`

PHP 7.2 only, and *NOT*:
`class A { public constant A = ''; }`
`class A { private constant A = ''; }`

[2018-01-28 11:39] asgrim opened #12 "Identify added parameters to methods"
`class A { public function a() {} }`
`class A { public function a(int $a) {} }`

`class A { protected function a() {} }`
`class A { protected function a(int $a) {} }`

`class A { public function a() {} }`
`class A { public function a(int $a = 1) {} }`

`class A { protected function a() {} }`
`class A { protected function a(int $a = 1) {} }`

`final class A { public function a() {} }`
`final class

[2018-02-17 10:47] asgrim opened #13 "Discuss usage and public API for tool"
So far we have not defined or even discussed what kind of usage this tool has. Creating this issue to discuss and formalise usage, before 1.0.0.

[2018-02-17 11:04] asgrim commented on #13
brain dump:
 * @Ocramius mentioned we should aim for the tool to simply be added to CI
 * need to determine what is the "last" version automatically to do this (maybe `ocramius/package-versions` could help? if not, would have to pull from `git` porcelain directly?)
 * obviously use `yaml` for any configuration :smiling_imp:
 * what configuration? maybe disable specific checks, tho seems like a bad

[2018-02-17 20:56] Ocramius commented on #13
More like the last stable minor. For instance, if we are On `2.5.7`, the BC compatibility should be computed from `2.5.0`

You are dead to me.

[2018-02-17 20:57] Ocramius commented on #13
Don't think we need any configuration for now

[2018-02-17 20:57] #3 closed

[2018-02-18 17:50] asgrim commented on #13
I think the usage should be something like:

 * `composer require --dev roave/api-compare`
 * Add `vendor/bin/api-compare` to CI
 * As above, should detect the last stable minor version
    * Clone & check out old version in a temp workspace & switch to last major
    * Run the comparator of the current checkout vs the temp workspace

However, failing the build may not be desirable; just because t

[2018-02-18 17:51] asgrim commented on #13
Output formats: `--output=json` `--output=text` `--output=xml` perhaps (is there anything like this, a standard, or even de-facto standard in other libs?)

[2018-03-23 17:33] asgrim commented on #13
`--output=markdown` is going to be useful to generate changelogs too

[2018-03-23 17:35] asgrim commented on #13
So; I see two use cases:

 * CI as above
 * Running manually to identify differences: e.g. to generate changelogs as I mentioned

[2018-04-06 20:43] asgrim opened #16 "Colourise Symfony\Console text output"
At the moment no colours, @macnibblet suggested adding them in https://github.com/Roave/ApiCompare/pull/15#discussion_r179870035

[2018-04-06 21:45] asgrim opened #17 "Brainstorm reasonable ways to determine "src" path to examine"
https://github.com/Roave/ApiCompare/pull/15#discussion_r179875002

In #15 the `/src/` path is hard-coded, which is a bad assumption.

The easiest from our perspective is to provide a param like `--src-path=src` or something, although @macnibblet suggested examining `composer.json` to look for the autoload paths which could be interesting...

[2018-04-14 08:42] asgrim opened #18 "Add phpcs with standard"
Add stuff for the CS checks

[2018-04-14 08:44] asgrim opened #19 "Detect last minor version"
Once #15 is merged, write some code that detects the last minor version automatically from `git porcelain` and make the `--from` param.

[2018-04-14 08:46] asgrim opened #20 "Provide markdown output generation"
As per #13 mwop mentioned markdown output would be useful for adding to tag messages/changlogs etc.

[2018-04-14 08:49] asgrim opened #21 "Add rev-parse to from/to input params"
Currently in #15 we do no rev-parsing at all so you have to provide full commit hash. At same time, make `--to`  optional with default value of `HEAD`

[2018-04-14 08:51] asgrim opened #22 "Return non-zero exit code when BC breaks are found"
We should return a non-zero exit code when BC breaks are found so CI builds will be failed.

[2018-04-14 08:53] asgrim commented on #13
Closing this as the relevant parts have been extracted to their own issues.

[2018-04-14 08:53] #13 closed

[2018-04-14 08:56] asgrim opened #23 "Automate generation of PHAR on releases"
I'm assuming there's an automated way of generating a PHAR when we do a release, so if folks don't want to add to `composer --dev` they can just download from GitHub release.

Not that important for now, but maybe useful in future.

[2018-04-14 11:10] asgrim opened #24 "Re-naming the package...?"
I've noticed when explaining what the tool does, folks jump to conclusion that this is used for comparing HTTP/REST API versions. I wonder if renaming the package could alleviate this problem. Would be better to do it before we tag anything as naturally it's (ironically) a big BC break ;)

Not sure WHAT to suggest though for naming, feedback welcome on this.

[2018-04-14 18:18] asgrim opened #26 "Run the `bin/api-compare` script in the CI build"
This isn't actually executed in the CI build, and it should be added.

[2018-04-14 18:38] #19 closed

[2018-04-14 18:38] #21 closed

[2018-04-14 18:40] #4 closed

[2018-04-14 18:40] asgrim commented on #4
Resolved by #27

[2018-04-14 18:47] asgrim commented on #17
Fixed in #27

[2018-04-14 18:47] #17 closed

[2018-04-14 19:14] asgrim opened #28 "Define an interface for `Comparator`"
Yeah.

[2018-04-14 20:56] #22 closed

[2018-04-15 12:48] #5 closed

[2018-04-15 12:48] #6 closed

[2018-04-15 13:15] Ocramius opened #31 "Consider `final` in combination with `protected` to exclude some code analysis scenarios"
As discussed in person with @asgrim and @akrabat, the following change is not a BC break, because `final` already makes it impossible to rely on `protected` properties:

[code]

changed into:

[code]

This kind of scenario is tricky to represent correctly with the current design of the `Comparator`

[2018-04-15 13:28] asgrim commented on #24
- `Roave\ABCD` (A BC Detector)
 - `Roave\BCBC` (BC Break Checker)
 - `Roave\BCBreakDetector`

[2018-04-15 13:49] asgrim opened #32 "Allow specifying the path to the CLI tool"
Currently the path to the repo is hardcoded to `getcwd()`. Fix this proper-like (default to `getcwd()` but allow specifying `--repository` or something

[2018-04-15 20:22] Ocramius opened #37 "Allow release versions such as `v1.2.3` and `release-1.2.3` (as well as other patterns recognized by composer)"
Ref: https://github.com/Roave/ApiCompare/pull/35#discussion_r181588570

[2018-04-15 20:53] #18 closed

[2018-04-16 00:35] #20 closed

[2018-04-16 18:46] Majkl578 commented on #24
SignatureComparer?
SignatureComparator?
SignatureComplianceChecker? (inspired by C/C++ abi-compliance-checker)

[2018-04-16 18:52] Majkl578 opened #39 "Make Comparator yield abstract errors + add formatter"
Would be nice to make Comparator yield errors like `new ClassFinalized()` or `ClassDeleted()` instead of hardcoding strings + names.

On top of that, have a processor/formatter that can:
a) categorize the changes by namespace, type of change etc.,
b) write specific formats - pretty console, conservative xml, ugly yaml etc.

[2018-04-16 18:54] Majkl578 opened #40 "Consider base comparator behavior as separate package"
Currently signature comparisons are hardcoded here.
Would be nice to make them reusable so maybe tools like PHPStan can reuse it later. Just an abstract API like `compareMethods($a, $b)` etc.

[2018-04-16 18:57] Majkl578 opened #41 "identify changes to references on methods/parameters"
_yes, I really said that ◉_◉_

[2018-04-16 18:58] Ocramius commented on #40
@Majkl578 this is already being worked on (for example in #38).

[2018-04-16 18:58] #40 closed

[2018-04-16 19:00] Majkl578 commented on #40
That is not a separate package.

[2018-04-16 19:03] Ocramius commented on #41
Good spotting - on it :+1:

[2018-04-16 19:14] Ocramius commented on #40
Then there's some misunderstanding: I wouldn't make a separate package for well-known comparisons, but I am indeed making interfaces for all (most relevant) comparisons.

[2018-04-16 19:16] Ocramius opened #42 "Comparison is not just restricted to the source directory"
As per recent finding, the comparisons are not currently limited to `src/` (or whatever source path is given), but all classes are being checked.

This means that diffing a codebase will likely cause diffing of all detected classes anywhere if we ever include autoloading of other symbols.

A simple applicable restriction is to only consider classes that have a file path in the defined source direc

[2018-04-17 13:49] Ocramius opened #43 "Design trait change BC detectors"
As per https://github.com/Roave/ApiCompare/pull/38#issuecomment-381790429, we need to also work on `trait`. This is low priority for now, but it will eventually come up in the next major (after `1.0.0`)

[2018-04-17 13:51] Ocramius opened #44 "Detect BC breaks in documented function parameter types (docblock-based)"

[2018-04-17 13:51] Ocramius opened #45 "Detect BC breaks in documented return types (docblock-based)"

[2018-04-18 10:27] gnumoksha commented on #24
Application Interface Comparator.

[2018-04-18 10:30] Ocramius commented on #24
I would probably specialise the package to just deal with BC Breaks and keep the naming in that scope, so `roave/backwards-compatibility` or such.

[2018-04-18 10:39] Ocramius opened #46 "Detect changes in parameter and return type declarations of open classes and interfaces as BC breaks"
https://github.com/Roave/ApiCompare/pull/38#discussion_r182247543

[2018-04-18 10:59] Ocramius opened #47 "Move `roave/security-advisories` to `require-dev`"
This package can both be used as an application and as a dependency, so adding `roave/security-advisories` to `require` is quite a heavy transitive dependency.

Should be moved to `require-dev` so that it is only active when the package is used as an application.

[2018-04-22 12:46] Ocramius commented on #43
Part of #38

[2018-04-26 08:59] #7 closed

[2018-04-26 08:59] #8 closed

[2018-04-26 08:59] #9 closed

[2018-04-26 08:59] #10 closed

[2018-04-26 08:59] #11 closed

[2018-04-26 08:59] #12 closed

[2018-04-26 08:59] #41 closed

[2018-04-26 08:59] #43 closed

[2018-04-26 08:59] #46 closed

[2018-04-26 18:06] ntzm commented on #24
backward-compatibility-checker is my vote

[2018-04-26 18:29] Majkl578 commented on #24
Since this is not a _checker_ (as it returns non-zero code for BC issues), it should rather be `backward-compatibility-enforcer`.

[2018-04-26 19:39] ntzm commented on #24
How about this-package-returns-a-non-zero-exit-code-if-your-code-is-not-backwards-compatible?

[2018-04-26 19:48] ntzm commented on #37
Should this be something that is dealt with in nikolaposa/version?

[2018-04-26 19:48] Ocramius commented on #37
@ntzm yeah

[2018-04-27 11:40] Ocramius opened #51 "Allow filtering classes, interfaces, traits, methods, functions, properties and constants annotated via `@api` and `@internal`"

[2018-04-27 12:07] #24 closed

[2018-04-27 12:08] Ocramius commented on #31
Handled in #38

[2018-04-27 12:08] #31 closed

[2018-04-27 12:08] Ocramius commented on #26
Handled in #50

[2018-04-27 12:08] #26 closed

[2018-04-27 12:08] asgrim commented on #26
Fixed in #50

[2018-04-27 12:08] asgrim commented on #26
beat me to it :)

[2018-04-27 12:09] Ocramius commented on #16
Kinda done in #50. Further improvements => send PRs please!

[2018-04-27 12:09] #16 closed

[2018-04-27 12:17] Ocramius opened #52 "Make BC compliance rules configurable"
We currently ship a massive single block of BC compliance rules hardcoded via dependency injection. It would be interesting to configure rules as following:

[code]

Where `SomeInvokableClass implements BCRulesConfiguration` or such.

Overall, I'd avoid weird `.xml` or such when not needed.

[2018-04-27 12:19] asgrim commented on #52
YAML seems like a great idea :trollface:

[2018-04-27 12:21] asgrim opened #53 "Build fails on `master` because from/to revisions are the same"
from https://travis-ci.org/Roave/ApiCompare/jobs/372001598 :

[code]

[2018-04-27 12:59] Majkl578 commented on #24
Hm, "check" is strange since it's a verb, package name should imho use noun. :/

[2018-04-28 09:47] Ocramius commented on #24
Yeah, but most things in here are verbs, so let's roll with it 👍

[2018-04-28 12:43] Ocramius commented on #53
Question: do we even need the SHA1 to be part of the path? Would a `tempnam()` not suffice?

[2018-04-28 12:44] Ocramius opened #55 "Add facilities to filter out anonymous classes and anonymous functions when analyzing BC breaks"

[2018-04-28 16:27] ntzm commented on #37
I opened an issue here: https://github.com/nikolaposa/version/issues/12, looks like it won't be until 3.0 that it's considered

[2018-05-02 07:50] asgrim commented on #53
It's useful for referencing, I'll just wrap it in `uniqid` I reckon

[2018-05-02 11:20] #53 closed, assigned to asgrim

[2018-05-04 16:13] #55 closed

[2018-05-15 08:46] asgrim opened #63 "Skip anon classes in "defined API""
Although PR #60 works, @Ocramius mentioned that all the anon classes are detected as "removed classes" and that the anon classes should be removed from the "defined API" up front.

[2018-05-15 19:16] #63 closed

[2018-05-26 19:37] bendavies opened #67 "`Roave\BetterReflection\Reflection\ReflectionClass` "XXX" could not be found in the located source"
Hey there,

Great tool! Excited to use this!
I tried running this on https://github.com/api-platform/core on the 2.2 branch:
`bin/roave-backward-compatibility-check --from=v2.2.6 --to=HEAD`
but receive:
[code]

Couldn't immediately work out the problem to fix myself, so tracking an issue.

[2018-05-27 00:00] Ocramius commented on #67
This usually happens when a parameter type or a return type cannot be resolved. Try running `maglnet/ComposerRequireChecker` to see if some dependencies are not strictly part of the project.

[2018-05-27 08:39] ciaranmcnulty opened #70 "Broken autoload when in vendor/bin"
I installed this on a project that doesn't have a specified bin-dir

[code]

Debugging the loop in `roave-backward-compatibility-check.php` it's searching the following locations:

[code]

Of course neither contain the project deps because they're all higher up in `/my/project/vendor`

We tackle the similar issue in phpspec by also looking at paths relative to `getcwd()` but it's not that great a

[2018-05-27 08:45] Ocramius commented on #70
By default, `bin-dir` exists and defaults to `vendor/bin`: what is your `composer.json` like?

Also, I can see that this will further fail due to `vendor` not being in a standard location, and that will cause dependencies to not be found when the static analysis steps are actually run.

[2018-05-27 08:51] ciaranmcnulty commented on #70
sorry, I meant I hadn't overridden it (https://github.com/phpspec/phpspec/blob/master/composer.json) - I'm executing it from `vendor/bin/roave-backward-compatibility-check`

[2018-05-27 08:52] Ocramius commented on #70
Can you attempt a standalone installation of the tool and then running it from the phpspec cwd for now?

[2018-05-27 08:53] Ocramius commented on #70
And yep, will fix in a few 👌

[2018-05-27 08:58] ciaranmcnulty commented on #70
If I do a complete separate checkout, run composer update there, then it executes (I get a different error I'll try and debug, to do with how it executes git)

Note that composer global install also won't work currently:

[code]

[2018-05-27 09:00] Ocramius commented on #70
Aye, I think we never tried/throught of it as a dependency. Sending a patch
within today 👌

On Sun, 27 May 2018, 10:58 Ciaran McNulty, <notifications@github.com> wrote:

[2018-05-27 09:04] ciaranmcnulty commented on #70
It might be worth adding a couple of smoke tests for different install methods?

I poked around some other tools

https://github.com/phpactor/phpactor/blob/develop/bin/phpactor#L11-L12
https://github.com/sebastianbergmann/phpunit/blob/master/phpunit#L30

Nobody seems to agree on the search path, and people with weird `bin-dir` or `vendor-dir` are going to have a bad time in all cases :-/

Maybe th

[2018-05-27 09:07] Ocramius commented on #70
Until PHAR installation goes through a lock/SAT mechanism and namespace
scoping, it will be generally avoided on my side.

On Sun, 27 May 2018, 11:04 Ciaran McNulty, <notifications@github.com> wrote:

[2018-05-27 10:34] Ocramius commented on #70
Handled in #71

[2018-05-27 11:04] #70 closed

[2018-05-27 11:52] bendavies commented on #67
I see yes, dbal was a dev dependency. maybe it should be a suggested dep, and this tool should install suggestions?

[2018-05-27 11:55] bendavies commented on #67
huh, i thought composer had a way to install suggestions, but apparently not.

[2018-05-27 12:01] bendavies commented on #67
how about making `BackwardCompatibilityCheck` install dev dependencies?
This issue is that api-platform only enables some features if certain non mandatory deps are installed, but ofcourse they included in `require-dev` for testing purposes.

[2018-05-27 12:52] ciaranmcnulty opened #72 "Git error when running without --from option"
Steps to reproduce:

1. check out `phpspec/phpspec`
2. add this tool to composer requires and update
3. run `vendor/bin/roave-backward-compatibility-check`

Error:

[code]

The input parameter `--from` is optional so its default value is `NULL`. this is explicitly cast to a string `''` in `AssertBackwardsCompatible::parseRevisionFromInput`, but the implementation of `GitParseRevision` then builds

[2018-05-27 12:58] ciaranmcnulty commented on #72
oh I see the problem, will PR

[2018-05-27 13:33] ciaranmcnulty commented on #37
This is pretty important, AFAIK `v1.2.3` was not only supported it was _encouraged_ by composer, at least at one stage

[2018-05-27 13:52] Ocramius commented on #37
Talked with @nikolaposa in person about this, and it will likely happen when he has time and willpower (PHP Serbia aftermath first)

[2018-05-27 14:04] Ocramius commented on #72
Handled in #73

[2018-05-27 14:04] #72 closed

[2018-05-27 14:57] #67 closed

[2018-05-27 17:51] nikolaposa commented on #37
Support for `v1.2.3` has already been implemented in https://github.com/nikolaposa/version/releases/tag/3.0.0 (15: Relaxed version parsing). I'll consider adding support for `release-` prefix for `3.1.0`.

btw Is there any other prefix besides `v-` and `release` that would be worth considering?

[2018-05-27 18:29] ntzm commented on #37
Looking through the composer source, seems it's just [`release-`](https://github.com/composer/composer/blob/4d8b9be5b6a0bda0a3d24c0a6ff89d7ccb26f715/src/Composer/Repository/VcsRepository.php#L153) and [`v`](https://github.com/composer/composer/blob/4d8b9be5b6a0bda0a3d24c0a6ff89d7ccb26f715/src/Composer/Repository/VcsRepository.php#L254)

[2018-05-27 19:43] nikolaposa commented on #37
I mean, if I'm going to introduce that change, I would like it to be something that is not only Composer-specific, but more general, hence the question.

[2018-05-28 06:11] alcohol commented on #37
Composer does not strictly follow semver formatting. If you look at https://github.com/composer/semver (specifically, the tests) you'll see it is very similar but there are a few deviations for legacy reasons. I think the `v` prefix is the only prefix we support. The `release-` prefix is not supported btw, but it is stripped for legacy reasons AFAIK.

[2018-05-28 07:34] jenschude opened #75 "Fatal error due to memory limit"
[code]

Default configuration for php cli runtime is 128M.

For larger code bases it's very likely to hit this limit easily. Fixed the issue locally by disabling the memory limit in the `bin/roave-backward-compatibility-check.php` with `ini_set('memory_limit', '-1');`

[2018-05-28 07:37] Ocramius commented on #75
This is normal, but the tool will in no way touch your configuration. Use `-dmemory_limit=2G`.

[2018-05-28 07:37] #75 closed

[2018-05-28 07:39] jenschude commented on #75
Composer had the same problems and added a helper method in their binary see https://github.com/composer/composer/blob/master/bin/composer#L21-L51

[2018-05-28 07:42] Ocramius commented on #75
Yes, and `composer` is a tool supposed to be used by everyone, while this tool is aimed at library developers, which already know how to deal with these basic problems.

I wholeheartedly disagree with tampering with the runtime environment in any way, so you won't see things like "disabling xdebug", "enabling error reporting" or such in any of my repositories :-)

[2018-05-28 07:50] jenschude commented on #75
I see your point.

But composer needs at least 1.5GB to run properly. So maybe it would help to add a small addition to the documentation.

[2018-05-28 07:55] Ocramius commented on #75
Probably a good idea to add it to the command's `--help` :+1:

[2018-05-29 07:08] Ocramius opened #77 "Recommend running `maglnet/composer-require-checker` before using this tool"
### Scenario

[code]

Assuming `MyClass` is part of our package.
Assuming `External\Foo` and `External\Bar` are from `require-dev` or completely missing.

`roave/backward-compatibility-check` will not be able to compare two versions of this class, as it will generate two empty stubs:

 * `namespace External {interface Foo{}}`
 * `namespace External {interface Bar{}}`

The stubbing mechanism also h

[2018-05-29 07:44] asgrim commented on #77
Is it really in the scope of BCC to make sure all the deps are there? I'm leaning to "no", and I'm not a fan of the stubbing idea either. We can't predict all the requirements of every project, it should be up to the project developer to make sure all deps exist when we are run. If `maglnet/composer-require-checker` helps, then sure make a recommendation it is run first - but having all deps avail

[2018-05-29 07:46] Ocramius commented on #77
@asgrim agree: what I'm thinking of for the immediate future is to make fail-safe checkers that `try{}catch(\Throwable $e) {}` and record them into a `Change` instance that then displays an error.

Not the best thing in the world, but it would allow to at least run through the entire analysis without a hard crash...

[2018-05-29 07:49] asgrim commented on #77
That's acceptable I think... Or maybe simply collect errors and display at the end? Thinking a summary output like phpunit/phpcs like:

[code]

Where `B` is a break and `E` is an error.. then display them at the end?

[2018-05-29 07:49] asgrim commented on #77
(not necessarily add the output, was just an example btw)

[2018-05-29 07:50] Ocramius commented on #77
Could also work, would need to work with iterators only though.
That is probably the correct solution indeed, as otherwise the tool also simply hangs for ages before producing any output :-)

[2018-05-29 08:16] maglnet commented on #77
Is it a typical situation that there are empty stubs?
If not, one could raise a warning like `There are empty stubs, did you check your dependencies?` and give a hint to `maglnet/composer-require-checker`.

[2018-05-29 08:35] asgrim commented on #77
to be clear: I think the stubbing should be removed; it should be a hard fail like @maglnet said:

Another proposal: hard-require `maglnet/composer-require-checker` and run it beforehand? (yes, ties up and forces an extra requirement, but it may help resolve this?)

[2018-05-29 09:28] bendavies commented on #77
just to repeat the usual usecase for this type or thing, so the discussion is not lost, often libraries will have optional "suggested" dependencies, which, if installed by the consumer, will enable extra features in the library (via class exists checks).
The library itself will install the suggestion in require-dev for testing purposes.

[2018-05-29 09:33] Ocramius commented on #77
Yeah, but those should really be segregated into optional installable packages that requires both dependencies. Yes, that will lead to an explosion of packages, but in ZendFramework specifically we constantly get issues reported due to optional dependencies.

[2018-06-01 12:41] OndraM commented on #52
Hi, just to add possible usecase: we are using constant, which identifies library version, and on new release (ie. constant value change) we are getting this:
`- [BC] CHANGED: Value of constant Lmc\Matej\Matej::VERSION changed from '1.5.0' to '1.6.0'`

So I guess this could be covered by this issue?

[2018-06-01 12:43] Ocramius commented on #52
@OndraM modifying constants is in most cases a BC break, so yes, it would need customisation if you wanted to exclude it. My tip is to move away from that kind of versioning, and just use `ocramius/package-versions` instead, which solves the issue upfront.

[2018-06-01 12:58] OndraM commented on #52
Agreed, I know about this library and it would be nice, but it requires PHP 7.1 :trollface: , and we need to maintain this specific library compatible with PHP versions having security support, which is unfortunately still PHP 5.6 and 7.0 :see_no_evil: . So we are for now using this "low-end" solution...

[2018-06-01 13:01] Ocramius commented on #52
@OndraM so how are you making this package work?

https://github.com/Roave/BackwardCompatibilityCheck/blob/9e95a606a84f398212b17287aa7801d39c72e460/composer.json#L5

[2018-06-01 13:04] OndraM commented on #52
Well Travis build which includes this BC check is (together with codestyle and phpstan checks) run solely on PHP 7.2 environment, while phpunit is run also on older PHP versions.

[2018-06-01 13:06] Ocramius commented on #52
Gotcha. Simply keep an eye on when you can drop <7.1 ;-)

[2018-06-04 15:41] Ocramius opened #79 "STDERR and STDOUT do not seem to be properly separated in the symfony console output"
As per findings in #76, the STDERR and STDOUT get mixed with each other regardless what we do.

This is likely an effect of combining the `composer/composer` CLI output with the `symfony/console` output, which is probably not a scenario that `symfony/console` was designed for.

Ref: https://github.com/Roave/BackwardCompatibilityCheck/pull/76#discussion_r191179996

[2018-06-04 15:55] bendavies commented on #79
FYI, I briefly experimented with: coping a composer.phar into the checked out project and running the phar, instead of running the composer installer php class directly. this seemed far faster for some reason and good for memory consumption.

[2018-06-04 16:03] Ocramius opened #80 "Use a generator and a progress bar indicator to inspect BC breaks"
As discussed with @asgrim in https://github.com/Roave/BackwardCompatibilityCheck/issues/77:

   .......B......E......
   .....B............EEE
[code]

[2018-06-04 16:21] Ocramius opened #81 "Detect the `"branch-alias"` for the current `--to`, and define whether BC breaks should be allowed or not"
This is probably interesting for @Majkl578.

[code]

[code]

This kind of tweak will allow consumers of the package to just drop it into their `.travis.yml`, and it will encourage clean declaration of `"branch-alias"` for everyone to read and understand.

This should probably also be skippable with a flag, since we don't want the inferred version to be always detected, and sometimes we really alwa

[2018-06-04 17:50] bendavies commented on #79
Ah yes, gc.
Do you mean you want to control the composer version? You could bundle a phar?

[2018-06-04 17:55] Ocramius commented on #79
Composer is already an extremely good and stable distribution system, so
I'm not going to invent something new 😜

On Mon, 4 Jun 2018, 19:50 Ben Davies, <notifications@github.com> wrote:

[2018-06-04 18:05] nikolaposa commented on #81
ATM Version lib is handling everything described in the https://semver.org/. So everything from major.minor.patch numbers, over pre-release identifiers to build metadata.

I think that `composer/semver` is specialized for Composer's or package manager use cases in general. Anyway, `Composer\Semver\VersionParser::normalize()` is something I might consider using as an additional version string parsi

[2018-06-05 09:12] bendavies commented on #79
I'm not sure what you mean :)
I was suggesting including a controlled composer phar in this project and using it to install project deps :)

[2018-06-05 09:16] Ocramius commented on #79
This is "distribution". No btw, not going to include a third-party phar in releases

[2018-06-06 01:34] Majkl578 opened #82 "Allow providing hints to make the analysis more useful"
Hyped of getting a cool changelog, I just tried this tool against doctrine/migrations 2.0.
Unfortunately the result is not really useful:
https://gist.github.com/Majkl578/2107492b128c35dff8d2007913d4cde8

Since the project namespace was renamed, almost everything is deemed to had been removed, few classes are detected as _changed to interface_. No method signature changes are reported at all.

It'

[2018-06-06 04:38] Ocramius commented on #82
Renames are tricky, as we can really only "guess" them. Even GIT gets those wrong 90% of the time, unless explicitly specified.

In my opinion, this is a huuuuuuuge rabbit hole that should probably be first extracted into a tool that is capable of tracking changes (in any `Tree` structure of arbitrary depth) in such a way that renames are easier to follow, and then we can integrate that tool here.

[2018-06-06 04:49] asgrim commented on #82
If we work on the assumption only a `git` rename is detected, and that PSR-0/4 is used (analyse `composer`) it could potentially work (mostly spitballing so there may be a problem) But I do agree it could be a useful separate tool. Prototype here and split out perhaps once a PR is finalised?

[2018-06-06 04:51] Ocramius commented on #82
I'd prototype somewhere else at first: this can get extremely messy extremely quickly.

If we figure out a stable and reliable solution, then we can squash it in this repo, but let's try keep things extremely limited, as we know very well that we got limited time to work on anything at all.

[2018-06-14 16:02] Majkl578 opened #83 "Crash on non-standard scalar type names"
[code]

Reproducible with the command above in doctrine/reflection repo (HEAD=02538d3f95e88eb397a5f86274deb2c6175c2ab6, but issue comes from `--from` commit).

[code]

[2018-06-14 22:58] Xerkus commented on #83
On a side note, `boolean.` is invalid, no dot is allowed. PR should be opened against doctrine common.

https://github.com/doctrine/common/blob/c0c61c03258c2e3672376fb2eca4a20d0f0bd013/lib/Doctrine/Common/Reflection/StaticReflectionParser.php#L31

[2018-06-14 23:18] Majkl578 commented on #83
Dot is not a valid character for typename so it should not be parsed and considered as valid name in first place. Actually now you confused me and I am not sure whether "boolean" without dot works or not :)

[2018-06-15 07:13] Ocramius commented on #83
I think that `boolean` is not allowed at all by php documentor - would need to check it (yes, the Fqsen thing comes from PHPDocumentor).

Also, I'll need to add something that deals with crashes: can't have the entire tool crash because of a mistake that is deeply nested somewhere in a detail of a codebase.

[2018-06-26 15:47] Ocramius opened #85 "Add `Throwable`-safe wrappers around all `Roave\BackwardCompatibility\DetectChanges\BCBreak\*` classes that may crash during reflection operations"
The idea is that a BC break should be detected (following the mantra "when in doubt: something is wrong"), and the exception message collected and shown in the report, but without crashing further execution.

[2018-06-28 16:52] Majkl578 opened #87 "Incorrect detection of class/interface during analysis"
As part of testing #86 on Doctrine DBAL, which was a motivator since it has dependency conflicts with this tool (different allowed versions of SF console), I ran into the following error:

[code]

I am not really sure what causes it.
`Symfony\Component\Console\Helper\Helper` was never an interface, but always an abstract class:
SF 2.8: https://github.com/symfony/symfony/blob/2.8/src/Symfony/Compon

[2018-06-28 16:56] Ocramius commented on #87
@Majkl578 this is because of stubbing: when a symbol is not found, we replace it with an interface. Arguably a questionable choice, and probably a wrong decision that I took.

I describe the problem in https://github.com/Roave/BackwardCompatibilityCheck/issues/77

For now, implementing https://github.com/Roave/BackwardCompatibilityCheck/issues/85 would get us at least a bit further to having this

[2018-06-28 16:56] Ocramius commented on #87
Closing as `duplicate` for now.

[2018-06-28 16:56] #87 closed

[2018-06-28 17:08] Majkl578 commented on #87
Oh wow, that's superconfusing. :flushed:

So the issue is that this tool does not install dev-dependencies and then crash because it shot itself in foot.

Forcibly ignoring dev-dependencies is imho a serious issue and makes this tool unusable (and also hides possible BC breaks in optional classes/dependencies) in many projects (basically all major Doctrine libs, Symfony etc.).

Enabling dev-depene

[2018-06-28 17:11] Majkl578 commented on #87
Ok, after like 10 minutes it crashed again, but this time, on undefined constant (since I don't have appropriate extension enabled). :) So definitely #85 would help here, but ignoring dev-deps is still wrong.

[code]

[2018-06-28 17:16] Ocramius commented on #87
BC breaks can only be computed over the set of inherited API that is going to then be passed on to further packages requiring your one.

`"require-dev"`, much like in https://github.com/maglnet/ComposerRequireChecker, should never be considered part of the API nor known symbols.

[2018-06-28 17:34] Majkl578 commented on #87
We already had this discussion over in https://github.com/maglnet/ComposerRequireChecker/issues/70 and I still disagree. What you are advocating is ideal world, utopia. The state of current PHP ecosystem is far from there.

Suggests section also implies _inherited API_, and together with `conflicts` this forms a _weak dependency_.
Exactly like this: https://github.com/phpstan/phpstan-doctrine/comm

[2018-06-28 17:41] Ocramius commented on #87
In `"a/dependency"`:

[code]

in your checked package:

[code]

The coupling will lead to BC breaks depending on how the `"require"` dependency is set - can't rely on `"require-dev"` here, as it is a non-existing constraint for consumers.

This is a new tool, and it is hardly aimed at existing libraries, as we are discovering and studying these BC boundaries (and experiencing them first-hand - we

[2018-06-28 17:47] Ocramius commented on #87
Also to be added: yes, this is opinionated.

I wouldn't have provided the initial design for https://github.com/maglnet/ComposerRequireChecker and this tool as-is if my opinion was different on optional dependencies (when I first came up with the idea, the immediate problem was to detect incorrect dependencies in @zendframework components).

Optional dependencies are not safe, and these tools simp

[2018-07-11 07:21] #23 closed

[2018-08-17 22:31] asgrim opened #90 "Support BetterReflection ^4.0 too"
See Roave/BetterReflection#441

At the moment this won't be an issue for any other consumer, except BR because BR `master` is on `4.0-dev` now, but we only support `^3.0` in BackwardCompatibilityCheck.

Need to check what the changes are (so far) in BR 3->4 and figure out if we can support both.

[2018-08-17 22:38] Majkl578 commented on #83
@asgrim That commit is from doctrine/reflection: https://github.com/doctrine/reflection/commit/02538d3f95e88eb397a5f86274deb2c6175c2ab6

[code]

[code]

[2018-08-17 22:39] asgrim commented on #83
Ahh sorry, I just saw `\Doctrine\Common` and stopped reading, checking now :)

[2018-08-17 22:47] Majkl578 commented on #83
Btw:

It is allowed: https://docs.phpdoc.org/guides/types.html

[2018-08-17 22:54] asgrim commented on #83
Yeh it seems to be just the `.` that is the issue, which is coming upstream from the phpdocumentor library :/ not really sure how to handle this as obviously you can't change the commit... :/

[2018-08-20 09:37] Majkl578 commented on #83
Since this tool is meant to compare a past and the current revision, I don't think your argument is valid. Yes, it may be bool _now_, but it wasn't back then. This issue is a great example of that.

[2018-08-21 06:41] Ocramius opened #93 "Improve captured exception message in `Roave\BackwardCompatibility\Change::skippedDueToFailure()` to show more about the symbol leading to the failure"
Caused by #85 and #92

[2018-08-21 07:46] #85 closed

[2018-08-21 11:00] Ocramius commented on #90
Gonna defer this for now, but I think it should be solved in `Roave/BetterReflection` by checking out the branch as `3.0` when running against `roave/backward-compatibility-check`

[2018-08-21 14:25] Majkl578 opened #98 "Class -> interface change doesn't detect changed class name or namespace"
When class Foo\Test:
[code]
becomes interface Foo\Bar\Test:
[code]

Only class->interface is detected, not the changed namespace (applies to class name within same namespace too):
[code]

[2018-08-21 14:50] Ocramius commented on #98
Is it not detected as removed class?

On Tue, 21 Aug 2018, 16:25 Michael Moravec, <notifications@github.com>
wrote:

[2018-08-21 14:54] Majkl578 commented on #98
Nope.

[2018-08-21 20:37] staabm opened #101 "More descriptive error message when sources-path directory doesnt exist"
Atm the command exits with an error mentioning a path which doesnt exist, but does not provide a hint to the user that the actual given parameter is at fault
(Or in case the project doesnt has the sources in /src its even harder to get whats wrong)

[2018-08-21 20:41] Ocramius commented on #98
Handled in #100

[2018-08-21 20:41] #98 closed

[2018-08-21 20:41] Ocramius commented on #101
@staabm that would be the first argument of the CLI tool: possible duplicate of https://github.com/Roave/BackwardCompatibilityCheck/pull/97 ?

[2018-08-21 20:47] staabm commented on #101
I guess you are right.

Could you give me a hint, why the command doesnt work?
https://travis-ci.org/redaxo/redaxo/jobs/418885955

[2018-08-21 20:51] Ocramius commented on #101
That's because in symfony CLI commands, the first argument is the command name, even if a default command is specified. You will have to type following when providing an argument:

[code]

Or, shorter:

[code]

[2018-08-21 20:57] staabm commented on #101
Thanks, that was my problem.

I guess DX wise this ugly arg construction could be „worked arround“ by defining the sources-path as a option instead of a argument

[2018-08-21 20:58] staabm commented on #101
(Unrelated 2nd problem: in our project, the composer.json is not placed within the repo-root. I guess thats a edge case the lib does not yet support?)

[2018-08-21 21:01] Ocramius commented on #101
And won't support. Non-root `composer.json` hugely deviates from standards, so it is advisable to build your own CLI entry-point script based on classes provided by this package.

If this is a deal-breaker, I suggest helping out on #97 before I do, because I'll surely close off the "`composer.json` in non-standard locations" scenario :-P

Meanwhile, closing here as a duplicate of #97

[2018-08-21 21:01] #101 closed

[2018-08-21 21:05] staabm commented on #101
I see. Thx for your input.

[2018-08-24 19:59] davidjeddy opened #104 "PHP 7.1.20 in-compatible error"
Attempted to add to a project running PHP 7.1.20; got the below error.

[code]

[code]

And for the sake of troubleshooting, what I am running:

[code]

[2018-08-24 20:00] asgrim commented on #104
Sorry, but this library needs a minimum of PHP `^7.2` :/

[2018-08-24 20:02] asgrim commented on #104
@davidjeddy I noticed your first command was for `roave/security-advisories` - that's a separate project, not sure if there is any confusion there...?

[2018-08-24 20:05] Ocramius commented on #104
Closing here: this is indeed for `^7.2`

[2018-08-24 20:05] #104 closed

[2018-08-29 21:44] TomasVotruba opened #105 "First run fails on git tag rev-parse error"
I run:

[code]

And get the error:

[code]

[code]

I'm doing something wrong?

[2018-08-29 21:46] Ocramius commented on #105
This is known: the problem is that the `v` in front of the version is not
really supported - probably need to explicitly specify `--from` for now.
Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Wed, Aug 29, 2018 at 11:44 PM Tomáš Votruba <notifications@github.com>
wrote:

[2018-08-29 21:49] TomasVotruba commented on #105
[code]

This works, thanks :+1:

[2018-09-02 10:40] Nyholm opened #106 "Are removal of parent classes/interfaces to be considered BC breaks?"
[code]

If my `Request` class stops implementing `PSR7RequestInterface`, isnt that a BC break that should be detected?

[code]

[2018-09-02 10:42] Ocramius commented on #106
Yes, that's a BC break: so is removing any ancestor, as type checking will fail in consumers.

[2018-09-02 10:43] Ocramius commented on #106
And yes, it is not implemented, but can be done trivially - do you want to try it, or should I give it a shot?

[2018-09-02 10:47] Nyholm commented on #106
Im happy if you do it and I'll send the next hour implementing this excellent tool on more open source libraries.

[2018-09-02 11:05] Nyholm opened #107 "Allowed memory size of 1GB bytes exhausted"
This issue is just an FYI. Feel free to close if it is irrelevant.

I [ran this tool on Travis](https://travis-ci.org/php-translation/symfony-bundle/jobs/423578346) for php-translation/symfony-bundle and I got an error telling me I'm using too much memory.

Im not sure if there is a fix to this library or if I just should increase the memory limit.

[2018-09-02 11:15] Ocramius commented on #107
Moving to generators may aid this, but I think this memory usage is normal, as everything is memorized on purpose. See: https://github.com/Roave/BackwardCompatibilityCheck/blob/2.0.0/src/Factory/DirectoryReflectorFactory.php#L42

[2018-09-02 11:36] Nyholm commented on #106
Okey, great.

My CI implementation do not care of new major versions of this library. I think it is a good idea to blindly trust that this library does not make anything weird. So until Im proven wrong Im just doing this:

https://github.com/php-translation/extractor/pull/123/files

[2018-09-02 20:53] Ocramius commented on #106
Handled in #109

[2018-09-02 20:53] #106 closed

[2018-09-02 23:01] Ocramius commented on #51
Note: removing `@api` or adding `@internal` are both to be considered BC breaks.

[2018-09-03 00:00] Ocramius commented on #107
Closing here: verified that this is unavoidable unless a non-memoizing reflector and parser are used: in those cases, execution times may go up excessively, rendering the tool unusable anyway.

[2018-09-03 00:00] #107 closed

[2018-09-03 00:22] Ocramius opened #110 "Looking for classes in a `DirectoriesSourceLocator` is extremely slow, since all AST symbols are traversed to look for existing classes"
A faster strategy would be to have autoloader-friendly locators for:

 * PSR-4
 * PSR-0

Then eventually falling back to the classmap source locators (only if necessary).

[2018-10-21 21:37] Ocramius opened #111 "Adding a public method on a non-final class is to be considered a BC break"
Take following example:

[code]

If `Counter` is modified is modified to add an `increment2` method, `LoggingCounter` fails (this is partly described in my article ["When to declare Classes Final"](https://ocramius.github.io/blog/when-to-declare-classes-final/) ).

[code]

Here's a test to show that:

[code]

This is because decorators require an update for each parent class public API change. The

[2018-10-21 22:35] Majkl578 commented on #111
It's technically correct, but IMO way too pedantic. 🤔

[2018-10-24 14:41] cebe commented on #111
In case you need a real world example that crashed a lot of things: https://github.com/yiisoft/yii2/pull/14441#issuecomment-315127527 ;)

[2018-10-24 14:44] Majkl578 commented on #111
We also have one in Doctrine: EntityRepository::count() with different signature than the one that comes from Countable, broke a lot of stuff in userland for people who implemented Countable (which doesn't make much sense, but anyway).

[2018-11-16 10:56] goetas opened #112 "[idea] Add command line option to skip empty sections"
What about adding an option that skips empty sections when dumping changelog to markdown?

Example, lets suppose one method has been removed and one added but no methods have been changed, currently we get:

[code]

The expected result could be

[code]

[2018-11-16 10:58] Ocramius commented on #112
Right now, there is no such thing as a "report" that is rendered, but rather one huge iterator that is lazily traversed, so this isn't possible without an architectural change.

We should, IMO, abstract the report into a separate sub-component that handles this, which would allow printing the BC information by providing any instance of the reporting component.

[2018-11-16 11:01] goetas commented on #112
Right! For now I have solved it with a dirty regex, but except of that works like a charm!

[2018-11-16 11:04] Ocramius commented on #112
TBH, as discussed also with @Majkl578, the aim to make "reports" went a lot out of focus, while the focus was mostly towards detecting and rejecting BC breaks (with an exit code). Would it be a good idea to add a second CLI script that is NOT designed to fail/exit with non-zero status code, only used for reporting purposes?

[2018-11-16 11:08] goetas commented on #112
IMO having two cli could be not the best idea... one of the two will endup being un-maintained, or there will be diffs in how exit codes are handled.

IMO adding a option --format=none could be already good enough.

[2018-11-16 11:15] goetas opened #113 "Class whitelist to skip BR breaks"
Would be useful to have a list of classes/interfaces that are allowed to change and to not generate BC breaks.

[2018-11-16 11:18] goetas commented on #111
as @Majkl578 said, adding bc breaks in this case is correct but a bit pedantic.
What abound introducing "optional" rules where the user can opt-in? (based on their BC promise)

[2018-11-16 11:21] Ocramius commented on #111
@goetas the library will provide a mathematical set of what is right/wrong, and release a new major version each time a new rule is added to that set: configuring a subset of BC breaks will be up to consumers (see #52)

[2018-11-16 11:22] goetas commented on #111
great

[2019-01-28 14:08] schmunk42 opened #114 "Undefined offset: 0 in ... PickLastMinorVersionFromCollection"
I add the the BCchecker locally to our project at https://github.com/dmstr/yii2-adminlte-asset

When I run the check in the container I get:

[code]

But we should have "enough" stable tags to compare...

[code]

[2019-01-28 14:45] Ocramius commented on #114
Can you check what is being passed in here, please?

https://github.com/Roave/BackwardCompatibilityCheck/blob/459e15befca19a2100b5f8e9c72a01f52c9c634d/src/Git/PickLastMinorVersionFromCollection.php#L24

[2019-01-28 14:56] schmunk42 commented on #114
This is the output for `var_dump($versions)`: https://gist.github.com/schmunk42/3b5aeab436a78cdc0b37a767b482d651

`$lastVersion` is

[code]

[2019-01-28 15:09] schmunk42 opened #115 "Error: tmp/api-compare ... was expected to exist."
Due to https://github.com/Roave/BackwardCompatibilityCheck/issues/114, I tried to run the check command with `--from` and `--to`, but I got an error:

[code]

Note: I am running this in a Docker container, but the whole repo is available in the container.

[2019-01-28 15:13] Ocramius commented on #115
Does this apply to any --from you tried so far?

On Mon, 28 Jan 2019, 16:09 Tobias Munk <notifications@github.com wrote:

[2019-01-28 15:13] schmunk42 commented on #115
For this repo, yes.

[2019-01-28 15:26] schmunk42 commented on #80
A progress bar would be really helpful, I am trying to check https://github.com/yiisoft/yii2 and in my last run it took about 5min, just to tell me that I do not have enough memory :)

[2019-01-29 23:01] Ocramius commented on #115
Hmm, wondering why `composer-plugin-api` wouldn't exist in that scenario. @alcohol can I bother you for questions about this?

We're running composer directly (not via CLI) by using the `Installer`:

https://github.com/Roave/BackwardCompatibilityCheck/blob/459e15befca19a2100b5f8e9c72a01f52c9c634d/bin/roave-backward-compatibility-check.php#L69-L77

Any pointers on whether the environment is differe

[2019-01-30 07:48] alcohol commented on #115
Oef, that involves the plugin API, and @seldaek knows much more about that than I do.

[2019-01-30 08:41] alcohol commented on #115
Oh, right, because it's hardcoded in the Composer source so if you're using a recent version of Composer there simply is no way we could ever fulfill the constraint for `1.0.0`.

[2019-01-30 08:41] Ocramius commented on #115
Aha, interesting!

@schmunk42 can you check if `roave/backwards-compatibility-check` is installable with a requirement of `"composer-plugin-api": "1.0.0"` please? Otherwise, this needs to go back to the upstream library.

[2019-01-30 08:42] Ocramius commented on #115
Thanks @alcohol, @Seldaek!

[2019-01-30 08:45] Ocramius commented on #80
@schmunk42 wanna give this a shot, maybe? Also, I think most of the speed problem comes from using the wrong type of `SourceLocator` ( https://github.com/Roave/BackwardCompatibilityCheck/issues/110 )

[2019-01-30 08:46] Ocramius commented on #114
@schmunk42 I'm more interested about the state of `VersionCollection` itself: this may be an upstream bug.

[2019-01-30 13:06] schmunk42 commented on #115
I can not install this

[code]

Error:

[code]

---

Another question: Would it be possible in general to create a `roave-backward-compatibility-check.phar` to avoid such issues?

I was also trying to run `roave-backward-compatibility-check` from a separate installation (vendor folder) for debugging.

[2019-01-30 13:09] schmunk42 commented on #114
Sorry, what do you mean with **state of `VersionCollection`**? Should I dump it at a later point?

[2019-01-30 13:16] Ocramius commented on #115
Not really, since the installation of the packages (for diffing purposes) is required.

If you use this:

[code]

Then you must also run an installation of an older version of `composer.phar` itself.

[2019-01-30 13:16] alcohol commented on #115
Why not just change the constraint for `composer-plugin-api` to `^1.0` ?

[2019-01-30 13:18] alcohol commented on #115
You simply cannot require `composer-plugin-api` at `1.0.0` since Composer release `1.1.0`, which is incredibly old, so this makes me wonder what version you've been using all this time.

[2019-01-30 14:00] schmunk42 commented on #115
I think my initial problems came from the fact that there's a lock file in older versions of my lib, see https://github.com/dmstr/yii2-adminlte-asset/blob/b339611f9f34621d731d3feca3a83b42720c7d5c/composer.lock#L631-L632

So maybe it's just not possible to BC-check those old versions.

[2019-01-30 14:04] alcohol commented on #115
It is, if you use a really old version of Composer.

[2019-01-30 14:05] schmunk42 commented on #80
To be honest, I don't think I can find time in the near future; so if someone else is planning to do this: "don't hesitate"

[2019-01-30 14:19] #115 closed

[2019-02-09 16:37] Ocramius commented on #114
Ideally, I'd need a test for `PickLastMinorVersionFromCollection`:

https://github.com/Roave/BackwardCompatibilityCheck/blob/991bf552792f6abdddf1831bf1a505acd8ce1a97/src/Git/PickLastMinorVersionFromCollection.php#L24-L49

To be placed in `PickLastMinorVersionFromCollectionTest`:

https://github.com/Roave/BackwardCompatibilityCheck/blob/991bf552792f6abdddf1831bf1a505acd8ce1a97/test/unit/Git/PickLas

[2019-02-11 11:58] schmunk42 commented on #114
I added a test with a similar version setup as shown above, the test fails also with `Undefined offset: 0`.

[2019-02-11 13:06] Ocramius commented on #114
Moved into #118

[2019-02-11 13:06] #114 closed

[2019-03-06 13:04] nschoellhorn opened #119 "Running out of memory"
The BC checker runs out of memory when running against the current master of [Ocramius/LazyProperty](https://github.com/Ocramius/LazyProperty), checking against 2.0.0. I talked to Marco already and he thinks it might be due to too much json metadata being downloaded for the packages.

I have attached the output of the run that failed. After that, I bumped my memory_limit to 2G, which went fine. Pu

[2019-03-06 13:08] Ocramius commented on #119
Looking at where the traces go, this seems to be caused by composer internals downloading JSON packages, not by this package directly. The fact that a filesystem cache prevents this could indicate that the downloader needs more magic. What this highlights, though, is that the composer system cache is being used,  which should probably be disabled overall.

BTW, I think 128Mb for CLI tools (at leas

[2019-04-23 12:00] Ocramius commented on #119
This is to be re-assessed after #120 - memory usage should be going massively down after that.

[2019-04-23 12:00] #119 closed

[2019-04-23 12:05] Ocramius commented on #90
As noted in https://github.com/Roave/BetterReflection/issues/441#issuecomment-485774052, we shouldn't change dependency constraints downstream: since this is only a build dependency for upstream, we should be OK with having upstream hack its way into either tagging or renaming itself during the build (for testing purposes)

[2019-04-23 12:05] #90 closed

[2019-04-23 12:09] Ocramius commented on #110
Fixed by #120

[2019-04-23 12:09] #110 closed

[2019-04-23 12:12] Ocramius commented on #80
Deferring this: current implementation now uses generators as per #108, which makes the output less painful to wait for.

[2019-04-23 12:13] Ocramius commented on #52
Will defer this: building a separate entry-point is still the preferred way at the time of this writing.

[2019-04-23 12:16] Ocramius commented on #105
Closing as duplicate of #37, which is the issue tracking separate tag formatting approaches.

[2019-04-23 12:16] #105 closed

[2019-04-23 12:18] Ocramius commented on #112
Closing as duplicate #39, which effectively asks for a way to generate a BC report.

[2019-04-23 12:18] #112 closed

[2019-04-23 12:19] Ocramius commented on #111
Moving out of 3.0.0: won't get to it for now.

[2019-04-23 12:49] Ocramius commented on #119
Seems fixed.

Before:

[code]

After:

[code]

Memory usage is massively reduced :+1:

[2019-05-20 18:16] Ocramius commented on #51
@slash3b this is the issue we talked about the other day

[2019-05-20 19:37] slash3b commented on #51
Oh, thanks! I took a look over the weekend and had no idea what is going on.
Hope this one helps : )

On Mon, May 20, 2019, 9:16 PM Marco Pivetta <notifications@github.com>
wrote:

[2019-06-05 11:24] yaroslavche commented on #67
Same here. `doctrine/dbal` is just dev dependency.
[code]
[Travis failed build](https://travis-ci.org/yaroslavche/BitMask/jobs/541668193)
What i've missed?

[2019-06-05 11:30] Ocramius commented on #67
Please run `maglnet/composer-require-checker` over your codebase.

[2019-06-05 12:04] yaroslavche commented on #67
[code]
Used [here](https://github.com/yaroslavche/BitMask/blob/master/tests/Doctrine/Types/BitMaskTypeTest.php). And `doctrine\dbal` supposed to be dev dependency (if need to use custom type - it will expect that project already have installed dbal). So, I think, I am not allowed to do like this?

[2019-06-05 12:06] Ocramius commented on #67
Correct: you'd have to split out those classes into a separate package which has DBAL in `"require"` (not `"require-dev"`)

In practice, what can happens is that `Doctrine\DBAL\Types\Type` has a BC break, and your package transmits that BC break by transitivity.

[2019-06-09 23:30] Ocramius opened #133 "Detect BC in `ReflectionProperty#getType()` (PHP 7.4+, BetterReflection 3.4.0+)"

[2019-06-10 08:44] nikic commented on #133
What changed?

[2019-06-10 09:27] Ocramius opened #134 "Do not crash when `Fqsen` parsing fails"
As discussed with @sebastianbergmann (https://github.com/sebastianbergmann/phpunit/issues/3718), type annotations like `array<foo, bar>` and other more complex definitions currently lead to the phpdocumentor tooling to throw exceptions.

While it would be good to support these in full, this currently prevents picking up this tool at all in downstream consumers.

The suggestion is therefore to
 1.

[2019-07-17 08:16] #51 closed

[2019-07-17 16:54] Ocramius opened #143 "Migrate to better type inference tooling to detect BC breaks in types"
As documented in #134, type inference based on documented types is weak.

In practice, we want to detect type variance changes for complex types, such as `@var Foo<Bar, Baz>`.

We also want to detect changes such as:

[code]

These types are currently not inferred (BC check completely skipped), and that is a problem.

I think @psalm could help with this, but need to inspect further.

[2019-07-17 16:56] Ocramius commented on #134
Incomplete tasks deferred to https://github.com/Roave/BackwardCompatibilityCheck/issues/143

[2019-07-17 16:56] #134 closed

[2019-07-17 17:52] Ocramius commented on #143
As [discussed](https://symfony-devs.slack.com/archives/C8SFXTD2M/p1563385542137400) with @muglug, there is some internal API in Psalm that could be helpful here (but is not covered by BC yet):

[2019-08-22 19:26] staabm opened #149 "Update github action docs"
For the new yaml syntax

[2019-08-23 11:59] dkarlovi opened #151 "ambiguous argument '0.1.0', Use '--' to separate paths from revisions"
Latest PHAR, running in [this repo's master](https://github.com/dkarlovi/xezilaires), I get:

[code]

If I follow the suggestion, I get

[code]

Not sure what the intended behaviour is, but I guess not this. :)

[2019-08-23 12:03] dkarlovi commented on #151
Full command to reproduce + debug output (this is using the Docker image, but downloaded the PHAR as I said and it's still the same).

[code]

[2019-08-23 13:15] Ocramius commented on #151
What tags do you have in your repository?

On Fri, Aug 23, 2019, 14:03 Dalibor Karlović <notifications@github.com>
wrote:

[2019-08-23 13:17] dkarlovi commented on #151
[code]

[2019-08-23 13:41] Ocramius commented on #151
Hmm, I think that's a long standing bug that we never solved: the version
string is no longer matching the tag name once it has been passed through
the version sorting.

To work around (for now) use `--from=v0.1.0` (and I endorse using simpler
tag names in future)

On Fri, Aug 23, 2019, 15:17 Dalibor Karlović <notifications@github.com>
wrote:

[2019-08-23 13:48] dkarlovi commented on #151
Alright, I don't really have a preference so I'll drop the `v`. Leaving this open as a reminder.

[2019-08-23 19:32] #149 closed

[2019-09-18 07:15] sebastianbergmann opened #157 "--version does not show version"
[code]

[2019-09-18 07:19] Ocramius commented on #157
Is this a default thing of PHARs?

[2019-09-18 07:24] sebastianbergmann commented on #157
Not sure what you mean by "default thing".  `--help` shows that `--version` is available.

[2019-09-18 07:26] Ocramius commented on #157
Oh, interesting!

I know we hadn't built anything for showing the version, so it is probably a symfony CLI default that we didn't configure.

[2019-09-18 07:43] asgrim commented on #157
Guess we'd just need to add these parameters:
[code]
Though a nicer approach would be to auto determine the version... maybe using `ocramius/package-versions`? :)

[2019-09-18 09:14] asgrim commented on #157
merged for next release (currently `5.0.0`), thanks @Ocramius

[2019-09-18 09:36] Ocramius commented on #157
Careful with this release: `box` did run, but it also failed at something (while continuing execution):

[code]

/cc @theofidry

[2019-09-18 09:44] theofidry commented on #157
Could you print the whole stack? (use the `--debug` flag of box or `-vvv`)

[2019-09-18 09:46] Ocramius commented on #157
It only runs on tags in CI: https://travis-ci.org/Roave/BackwardCompatibilityCheck/jobs/586453576

I think it tries to do a `composer update --no-dev` internally to remove dev deps, and fails there due due to `config.platform` provided by box.

[2019-09-18 09:55] theofidry commented on #157
Isn't the error occurring _before_ though? Box only tries to dump the autoload (`dump-autoload`): https://github.com/humbug/box/blob/master/src/Composer/ComposerOrchestrator.php#L119. It does not try an `update` or `install`

[2019-09-18 09:59] Ocramius commented on #157
Indeed, please disregard: error is on our side (and script is wrong).

https://github.com/Roave/BackwardCompatibilityCheck/blob/5092098994e3de84300a71c997494d6f637e839d/build-phar.sh#L7-L9

Sorry for bothering, @theofidry

[2019-09-18 10:01] Ocramius opened #159 "Remove version limitations from phar assembly tool"
See https://github.com/Roave/BackwardCompatibilityCheck/blob/5092098994e3de84300a71c997494d6f637e839d/build-phar.sh#L7-L9

That is wrong, since:

 1. we will run the phar assembly on the correct version
 2. we shouldn't `composer update`, but rather `composer install --no-dev`
 3. script should completely bail out in case of errors

[2019-09-18 10:11] theofidry commented on #157
np, you probably should upgrade Box thought, 3.8 is out so using the 3.0 beta is a bit... risky :D

[2019-09-18 10:17] Ocramius commented on #151
Closing as duplicate of #37

[2019-09-18 10:17] #151 closed

[2019-09-18 10:17] Ocramius commented on #159
As per https://github.com/Roave/BackwardCompatibilityCheck/issues/157#issuecomment-532618696, box should also be upgraded

[2019-09-18 10:26] Ocramius commented on #83
Note: while the tool will detect an error here, it will no longer crash (as per `4.0.0` or `3.0.0`, I think). Closing here.

[2019-09-18 10:26] #83 closed

[2019-09-18 10:27] Ocramius commented on #159
Note: we should probably install `box` via composer, so we are always on latest stable.

[2019-09-19 16:04] goetas opened #160 "Classes with @internal should be skipped"
This is feature request.

Is there planned (or is it possible) to exclude from the BC brak report classes marked as `@internal`? They are not BC breaks since they are not covered by the BC promise.

[2019-09-19 16:06] asgrim commented on #160
Hmm, I believe this was already merged in for release `4.0.0` (see #141) - what version are you using?

[2019-09-19 16:09] goetas commented on #160
The one provided buy `docker run --rm -v `pwd`:/app nyholm/roave-bc-check`, let me try with 4.0

[2019-09-19 16:12] goetas commented on #160
`4.x` works nice!

@Nyholm It seems `nyholm/roave-bc-check:latest` does not target the latest version.

[2019-09-19 16:12] #160 closed

[2019-09-19 16:36] Nyholm commented on #160
`nyholm/roave-bc-check:latest` is dev-master
`nyholm/roave-bc-check:stable` is the latest tagged release

Are you sure you cannot solve this issue by pulling `nyholm/roave-bc-check:latest` again?

[2019-09-19 17:06] Nyholm commented on #160
I've turned off "build cache" on Dockerhub. That might have been an issue. In a few hours (when dockerhub finally built the images again) there should not be any more issues.

@goetas could you please confirm?

[2019-09-20 07:46] goetas commented on #160
@Nyholm A fresh docker pull of latest refreshed the docker image and now works. So build cache to blame!

[2019-09-20 07:47] asgrim commented on #160
Thanks folks, glad it's sorted! :+1:

[2019-09-22 23:17] darenas31415 commented on #159
Hi @Ocramius,

I've played with this a little bit.

Adding hambug/box to the main composer.json doesn't work after running composer install with --no-dev therefore moving the script to the build directory and creating a new composer.json there with only hambug/box.

I've seen other projects using bamarni/composer-bin-plugin to isolate and avoid conflicts on plugins.

Let me know if you prefer that

[2019-09-23 00:38] Ocramius commented on #159
Wouldn't a new tmp directory with `composer require humbug/box` work?

[2019-09-23 20:15] darenas31415 commented on #159
Yeah, that works perfectly and removes the composer.json boilerplate 👍

[2019-10-01 08:29] #159 closed

[2019-10-11 08:16] jakzal opened #165 "Please release a new phar with the latest beberlei/assert"
With the currently shipped version of the assert library, intl extension is required to run the backward compatibility checker. See https://github.com/beberlei/assert/pull/289

[2019-10-28 06:59] sebastianbergmann opened #166 "Please release a new PHAR with the latest nikic/php-parser"
[code]

[2019-11-01 11:50] #165 closed

[2019-11-09 14:28] #166 closed

[2019-11-18 13:20] OndraM opened #169 "Phar for version 4.2.0"
Hi, it seems phar file is missing from assets of release 4.2.0:
https://github.com/Roave/BackwardCompatibilityCheck/releases

Could you please add it?

Thanks!

[2019-11-18 13:21] asgrim commented on #169
@Ocramius hmm, this was the automated release, is there something missing there?

[2019-11-18 14:05] Ocramius commented on #169
Seems like the credentials aren't correct:
https://travis-ci.org/Roave/BackwardCompatibilityCheck/jobs/609657677

On Mon, Nov 18, 2019, 14:21 James Titcumb <notifications@github.com> wrote:

[2019-12-05 06:07] sebastianbergmann commented on #169
What is the status of this? Thanks!

[2019-12-07 12:57] Ocramius commented on #169
Inspecting the docs, I think this needs to be changed:

https://github.com/Roave/BackwardCompatibilityCheck/blob/026a96b4f523544b93f5d1228d83cd5303d7f976/.travis.yml#L29-L30

Specifically, the docs (https://docs.travis-ci.com/user/deployment/releases/) say that the format is:

[code]

So we have a `secure:` too much there.

[2019-12-17 08:19] gmponos opened #181 "Download phar file"
I understand that 4.2.0 does not have a phar file #169

What about 3.0.0 up to 4.1.0 ?

I there a link that I can download these phars from using a wget?

[2019-12-17 08:28] gmponos commented on #181
nvm I just find out that the phar is on the release page..

TBH didn't know that...

https://github.com/Roave/BackwardCompatibilityCheck/releases/download/3.0.0/roave-backward-compatibility-check.phar

[2019-12-17 08:28] #181 closed

[2019-12-18 14:58] ezimuel opened #183 "Installation error with composer"
I tried to install the library using composer with the command reported in the README.md:
[code]
But I got this dependency error:
[code]
My `composer.json` is the one reported [here](https://github.com/elastic/elasticsearch-php/blob/master/composer.json).

[2019-12-18 15:02] Ocramius commented on #183
`roave/better-reflection 3.5.0 requires phpdocumentor/type-resolver ^0.4.0` seems to be the culprit (`0.4.0` is locked due to `composer require` only working on a specific subset of dependencies).

Couple of things to try:

 1. help `roave/better-reflection` in moving to `phpdocumentor/type-resolver:1.0.1`
 2. don't use `composer require`, which leads to locked dependencies, but rather add the dep

[2019-12-18 15:12] ezimuel commented on #183
I tried using `phpdocumentor/type-resolver:1.0.1` but still having the error dependency.
When I moved to `phpdocumentor/type-resolver:^0.4.0` everything worked fine.

My `compose.json` looks as follows:

[code]

[2019-12-18 15:33] Ocramius commented on #183
The idea is that `roave/better-reflection` needs to be updated to that ;-)

[2019-12-18 15:37] ezimuel commented on #183
I see, thanks for your support!

[2019-12-18 15:37] #183 closed

[2019-12-28 10:10] nikolaposa commented on #37
Version parsing was relaxed to supports both `v` and `release-` Composer-recognized prefixes in `nikolaposa/version:^3.2.0` so I assume this one is fixed?

[2019-12-28 13:09] Ocramius commented on #37
Still need a way to get the symbol name back though, as otherwise we cannot really run a `git checkout` command with a valid REF

[2019-12-28 13:38] nikolaposa commented on #37
Got it. Can you refer me to some relevant places in code base so I can become more familiar with entire flow and how/whether `Version` is used in conjunction with other components, i.e. `VersionCollection`?

[2019-12-28 13:39] Ocramius commented on #37
I think `VersionCollection` is only used during sorting, lemme dig up the relevant code location

[2019-12-28 13:43] Ocramius commented on #37
This is where we need to preserve the original tag name: https://github.com/Roave/BackwardCompatibilityCheck/blob/master/src/Command/AssertBackwardsCompatible.php#L229

[2019-12-28 13:56] nikolaposa commented on #37
Oh, I see the problem now. Versions retrieved from the repository are successfully parsed but their initial form is lost, so casting them back to string yields undesired result.

I'll see what I can do. 🤔 But everything suggests that I'll have to relax my strict adherence to semver.org and the idea that prefix is not part of the version number. Encapsulating that behaviour in a new object as I sug

[2019-12-28 14:13] Ocramius commented on #37
It would also break (pseudo-code) `Version::fromString('1.2.3') == Version::fromString('v1.2.3')`, so only `->equals()` is viable now.

I also noticed an edge case: we could have duplicate versions (already happened in doctrine) due to `v1.2.3` and `1.2.3` both being valid tags on a repository

[2019-12-28 14:17] nikolaposa commented on #37
Something like this: https://github.com/nikolaposa/version/commit/87ab65225589fb1297be161f659bca5fed780eac could definitely solve the part with constructing and casting Version from/to string. But comparison problem would still remain as the `$prefix` is used solely for the purpose of preserving the original context.

[2019-12-28 14:19] Ocramius commented on #37
Seems about right

[2019-12-28 14:21] nikolaposa commented on #37
I'm not a fan of the idea of `getPrefix()` becoming part of `Version` public API, so as an alternative solution I could introduce `VersionNumber` that would be _the_ SemVer-compliant object, and have the existing `Version`, with the same API + `getPrefix()` behaviour proxy to it.

That way I could avoid making some serious BC breaks, as `Version` behaviour would remain the same from the outside.

[2019-12-28 22:29] nikolaposa commented on #37
I was thinking about `v1.2.3 == 1.2.3` scenario. While it might be true that those are not the same versions, I have no idea what reasoning is valid in the case of other comparisons:

[code]

If it's not equal, is it higher, is it lower? You can't really tell, because prefix does not carry any semantical meaning, unlike pre-release or build extensions for example that are compared lexically in ASC

[2019-12-28 23:03] Ocramius commented on #37
They are equal, but don't have the same state, hence == doesn't work

On Sat, Dec 28, 2019, 23:29 Nikola Poša <notifications@github.com> wrote:

[2020-02-08 18:37] Ocramius commented on #169
Not solved: phar doesn't seem to be correctly built by travis, which reports `dist/roave-backward-compatibility-check.phar does not exist.`

[2020-02-08 18:57] Ocramius commented on #169
Now with phar: https://github.com/Roave/BackwardCompatibilityCheck/releases/tag/4.4.0

[2020-02-08 18:57] #169 closed

[2020-02-08 19:07] #37 closed

[2020-02-08 19:08] Ocramius commented on #133
Note to whomever will implement this: dropping PHP 7.3 support is OK.

[2020-02-08 19:15] Ocramius opened #200 "Drop PHP 7.3 support"

[2020-02-28 10:57] Nyholm opened #203 "Add option to install `require-dev` dependencies when analyzing a codebase"
I currently have a problem with some libraries using test files in their source. That will give me plenty of
[code]
For this specific case it is the `psr/log` package. ([my package](https://github.com/async-aws/core/runs/474557373?check_suite_focus=true#step:4:31))

I have been hacking the output before. See how [I did in Guzzle](https://github.com/guzzle/guzzle/blob/7.0.0-beta.1/.github/workflows

[2020-02-28 11:00] Ocramius commented on #203
Potentially duplicate of https://github.com/Roave/BackwardCompatibilityCheck/issues/77

[2020-03-10 08:13] KartaviK opened #210 "Please, update thecodingmachine/safe"
I use 1.0 version, but minimum required in your package is 0.1, please, if you can, update it)

[code]

[2020-03-10 11:00] Ocramius commented on #210
@KartaviK send a patch for inclusion in `5.0.0`, please :+1:

[2020-03-10 14:21] KartaviK commented on #210
There is a problem with infection/infection. They dont have thecodingmachine/safe 1.0 too

[2020-03-10 14:24] Ocramius commented on #210
Ah yep, I remember trying to upgrade. See https://github.com/infection/infection/releases/tag/0.15.3

If you bump both, we should be good.

[2020-03-10 14:24] jdreesen commented on #210
They have in `v0.15.3`. You need to update it as well.

[2020-03-10 14:33] KartaviK commented on #210
PR: https://github.com/Roave/BackwardCompatibilityCheck/pull/211

[2020-03-10 16:15] #210 closed

[2020-03-10 16:15] Ocramius commented on #210
Thanks, @KartaviK!

[2020-03-21 09:47] sebastianbergmann commented on #169
[code]

[2020-03-22 12:59] Ocramius commented on #169
I think that's due to phar installation using `--no-scripts`: could be a bug in box?

[2020-03-26 08:42] staabm opened #215 "running process cannot be interrupted using CTRL+C"
when the process is triggered/started it does not allow to interruption.

I guess there is some signal handling missing?

[2020-03-26 08:46] Ocramius commented on #215
Probably an issue with generators themselves: this library just has a big loop in it, so it doesn't do anything fancy with signals, and the process will indeed just adhere to typical PHP semantics.

[2020-03-26 08:49] staabm opened #216 "bc breaking changes are not detected"
first things first: great tool, I hope we can use it in the near future wihtin our CI pileline <3.

I do some local tests with the bc tool, but cannot get it to detect BC breaking changes.

my setup:
- local codebase from a private github repo
- created a branch for testing
- fake some BC breaking changes, by dropping public properties and public methods from a few classes involved
- committed the

[2020-03-26 08:55] Ocramius commented on #216
Yes, although you can implement your own logic to extract sources and dependencies from a project.

Yes, specifically `"autoload"` section of `composer.json`

No, just need to have the code under the `"autoload"` section of `composer.json`: shouldn't need to be namespaced.

Note that this design is necessary: autoloading any symbols is unsafe and unfeasible due to static type collisions otherwise.

[2020-03-26 09:00] staabm commented on #216
thx for the fast feedback.

could you give me a hint on how to at best figure out, why my BC breaking changes are not detected right now? some kind of debugging feature or similar?

[2020-03-26 09:04] asgrim commented on #215
are you running in in Docker or anything?

[2020-03-26 09:04] Ocramius commented on #216
Would need to see the project, but also check what the BC checker understands as "sources".

That is done by these two dependencies: https://github.com/Roave/BackwardCompatibilityCheck/blob/4.4.0/bin/roave-backward-compatibility-check.php#L64

[2020-03-26 09:09] Ocramius commented on #215
Oh indeed: some docker images do not forward signal correctly. @lcobucci fixed this in some official images recently.

[2020-03-26 09:14] #216 closed

[2020-03-26 09:29] staabm commented on #215
I am running locally in git bash for windows.

windows10x64
php 7.4.3

[2020-05-09 22:15] Levivb opened #234 "Support `roave/better-reflection` `^4.0`"

[2020-05-09 22:34] Ocramius commented on #234
please send a patch: should be a straightforward change, I suppose?

[2020-06-03 17:03] tomasnorre commented on #234
There is already an automated PR for this or I assume that it's automated, looks like it.
https://github.com/Roave/BackwardCompatibilityCheck/pull/238

[2020-06-03 17:05] tomasnorre commented on #234
The tests are failing in the PR, probably the reason a good reason, why it isn't merged yet.
The tests in master are also failing locally in my setup.

I haven't really looked into why yet.

[2020-06-03 17:05] Ocramius commented on #234
Yup, some work needed there to adjust the major BC Breaks.

Anyone willing to send a patch? Unable to do so this week...

[2020-06-03 17:06] tomasnorre commented on #234
I'm not sure what needs to be done, as it's the first time I hear about this package today.

[2020-06-03 17:33] tomasnorre commented on #234
I also have `psalm` errors with master. :)

[2020-06-03 17:35] Ocramius commented on #234
O_o that shouldn't be the case... unless we have newer dependency changes.

Should probably use locked dependencies for running SA/CS checks (will do when switching to github actions)

[2020-06-03 17:59] tomasnorre commented on #234
Both phpunit and psalm fails locally for me.

[2020-06-03 18:00] Ocramius commented on #234
Hmm, ok, then I guess some dependency changes did break everything :\

Will investigate next week, if I get to it :+1:

[2020-06-03 20:09] tomasnorre commented on #234
Haven't checked with git bisect yet, but the 4.4.0 tag is also failing with phpunit and psalm locally by me.

[2020-06-05 00:29] WyriHaximus opened #242 "Support for safe 1.x in 4.x branch"
Are you open for supporting thecodingmachine/safe 1.x in the 4.x version?

[2020-06-05 00:31] Ocramius commented on #242
I think it's worth doing a new release after we managed to bump all dependencies: hopefully this coming week.

[2020-06-05 00:41] WyriHaximus commented on #242
Assuming you're talking about `5.0.0`?

[2020-06-05 00:43] Ocramius commented on #242
Yup.

Consider that the BC breaks are mostly due to inherited API, not
CLI/behaviour changes

On Fri, Jun 5, 2020, 02:42 Cees-Jan Kiewiet <notifications@github.com>
wrote:

[2020-06-05 01:03] WyriHaximus commented on #242
Awesome! Looking forward to it :D. Quick final question, does this package support JSON output? As in `vendor/bin/roave-backward-compatibility-check --format=json`?

[2020-06-05 01:04] Ocramius commented on #242
At this moment, no json support.

I think it may make sense to use a standard format such as JUnit or checkstyle though?

[2020-06-05 01:06] WyriHaximus commented on #242
As long as I can parse it I don't care about the format, it's just that markdown isn't a really useful format to use in an automated environment 😂 . Looking into automating what milestone to attach to a PR depending on if the PR does a breaking change or not.

[2020-06-05 01:12] Ocramius commented on #242
That would be told by the exit code right now, but I agree that it is
useful to have a machine-friendly format 👍

On Fri, Jun 5, 2020, 03:06 Cees-Jan Kiewiet <notifications@github.com>
wrote:

[2020-06-05 01:16] WyriHaximus commented on #242
Sweet thanks, will have a look at `5.0.0` once it comes out 👍

[2020-06-05 01:16] #242 closed

[2020-06-06 12:13] Ocramius commented on #242
Seems like the failures on `master` are due to PHP 7.4.6, which has some very nasty bugs in `yield from`.

I think a release will require a `"conflict": {"php": "7.4.6"}` for now.

[2020-06-06 12:31] Ocramius opened #243 "Library broken on PHP 7.4.6"
This library heavily relies on `yield from`, which seems to be broken on PHP 7.4.6 (@nikic posted about it at https://mobile.twitter.com/nikita_ppv/status/1264857231167807489)

We'll probably need a a `conflict` with that specific PHP version before releasing.

[2020-06-15 15:28] sebastianbergmann opened #244 "Sign PHAR"
Because the PHP Archives (PHARs) of this tool are currently not signed, the `--force-accept-unsigned` option is required when using [Phive](https://phar.io/) to install/update this tool.

Please consider signing the PHP Archives (PHARs) of this tool with a GPG key and publish that signature alongside the signed PHAR so that `--force-accept-unsigned` is not required when using Phive.

Thank you!

[2020-06-15 15:47] Ocramius commented on #244
Possibly feasible once we move to github actions, and then we can use an organization secret where to store a GPG signing (sub-)key

[2020-06-15 15:48] sebastianbergmann commented on #244
Thank you for considering this!

[2020-06-16 06:53] sebastianbergmann opened #245 "ReflectionType::__toString() is deprecated"
Using the 4.4.0 PHAR, I get:
[code]

[2020-06-16 07:08] sebastianbergmann opened #246 "Compare to uncommitted changes"
It is confusing, at least to me, that this tool does not compare to the current state of the working copy and ignores uncommitted changes.

[code]
[code]
[code]
[code]
[code]
I think it would make sense to use the current state of the working copy instead of the latest commit when `--to` is not used.

[2020-06-16 08:04] Ocramius commented on #245
This is already solved AFAIK, but we were blocked due to broken generators in PHP 7.4.6 (we have 7.4.7 in travis-ci since yesterday)

[2020-06-16 08:22] Ocramius commented on #246
I think this makes a lot of sense: when we designed this package, a lot of focus was put into trying to keep the current repo isolated from the rest, but the `--to` could indeed be the current state of the project, rather than a clean copy.

[2020-06-19 20:24] Jean85 commented on #234
Build should be fixed by #247, issue fixed by #248

[2020-06-22 07:48] #234 closed

[2020-06-22 10:43] #200 closed

[2020-06-22 10:43] #243 closed

[2020-06-23 05:18] sebastianbergmann commented on #244
The 5.0.0 release does not have a PHAR (yet). Will one be published? Thanks!

[2020-06-23 07:13] Ocramius commented on #244
Guess something broke (AGAIN) in the travis publishing logic.

[2020-06-23 08:19] pawan22sfdl opened #255 "Fatal: ambiguous argument '${env.GIT_COMMIT}': unknown revision or path not in the working tree"
Hello Github People

I am facing a issue while running a differential deployment groovy code from jenkins for salesforce build.

**My Groovy code :-**

<project>
<taskdef resource="net/sf/antcontrib/antlib.xml">
		<classpath>
			<pathelement location="lib/ant-contrib-1.0b3.jar"/>
		</classpath>
</taskdef>
<macrodef name="gitDiff">
		<sequential>
			<exec executable="git" outputproperty="git.diff">

[2020-06-23 08:21] asgrim commented on #255
Hello @pawan22sfdl - I'm not sure what this has to do with this tool? Are you actually using Roave Backward compatibility checker...? None of the output is from this tool...

[2020-06-23 08:25] pawan22sfdl commented on #255
@asgrim no but i am using simple jenkins and a groovy script with any build capability

I dont know what is roave backward compatability checker?

For these lines of code :-

<target name="diffBuilderWithGitCommit">
		<delete dir="deploy-sf"/>
		<mkdir dir="deploy-sf"/>
		<echo>Current GIT Commit : ${env.GIT_COMMIT}</echo>
		<echo>Previous Known Successful GIT Commit : ${env.GIT_PREVIOUS_SUCCESSFU

[2020-06-23 08:29] asgrim commented on #255
@pawan22sfdl You have reported an issue with a tool called Roave/BackwardCompatibilityCheck (see the URL?); perhaps try contacting Jenkins commercial support? https://wiki.jenkins.io/display/JENKINS/Commercial+Support

[2020-06-23 08:29] #255 closed

[2020-06-23 08:33] asgrim commented on #255
@pawan22sfdl also, maybe try googling the error you're seeing, it seems to have some results that may help, although I can't say for sure since this absolutely nothing to do with Roave/BackwardCompatibilityCheck tool (which you are not using) :grin: : https://www.google.com/search?client=firefox-b-d&q=fatal%3A+ambiguous+argument+%27%24%7Benv.GIT_COMMIT%7D%27%3A+unknown+revision+or+path+not+in+the+

[2020-06-23 11:16] Ocramius commented on #244
@sebastianbergmann for now, I attached a manually built phar to the release @ https://github.com/Roave/BackwardCompatibilityCheck/releases/tag/5.0.0

[2020-06-23 12:17] sebastianbergmann commented on #157
This is still not fixed in 5.0.0:
[code]
[code]

[2020-06-23 12:19] Ocramius commented on #157
Moved the milestone and re-opened then 👍

I wonder if this is due to no plugins running during box installation 🤔

[2020-06-30 14:47] morozov opened #256 "The changes in @internal classes shouldn't be ignored completely"
An `@internal` class still may be used by the consuming code as one of its non-internal parent types. If a breaking change happens in the ancestry tree (e.g. the class loses one of its parents), it will affect the class even if it's internal.

See https://github.com/doctrine/dbal/pull/4100#discussion_r447095084.

[2020-06-30 14:51] Ocramius commented on #256
Would need a reproducer: AFAIK, we already skip internal class analysis completely: https://github.com/Roave/BackwardCompatibilityCheck/blob/15611feaa64b3b9fb8dbac3425e4d605c1f35c4f/bin/roave-backward-compatibility-check.php#L84

[2020-06-30 14:58] morozov commented on #256
This is the gist of it. I'll see if I can put together a test.

[code]
Breaking changes:
[code]

[2020-06-30 14:59] Ocramius commented on #256
Hmm, I think it's a sufficient scenario: needs to be tried in integration first, to see whether the bug is in a specific change detector, or in the default configuration.

[2020-06-30 15:17] morozov commented on #256
Okay, then I'll leave it up to you.

[2020-06-30 15:54] stof commented on #256
note that changing the parent from Parent1 to Parent2 would not be a BC break if Parent1 was internal (as the consumer should not rely on the Parent1 type)

[2020-06-30 16:27] Ocramius commented on #256
@stof I am not sure about that one: the API inherited by parents is still observable downstream. I'm also not sure why you'd inherit from an `@internal` symbol, but that's probably secondary.

That would probably need to be tested separately.

[2020-06-30 23:12] Ocramius commented on #256
I tried this locally with a repo like following:

[code]

[code]

The tool did not report breaking changes, so I probably need a more precise reproducer

[2020-06-30 23:16] morozov commented on #256
Well, this is the bug. It is a breaking change that should have been reported.

[2020-06-30 23:29] Ocramius commented on #256
Hmm, no, if the class is internal, it isn't covered by BC at all

[2020-06-30 23:30] morozov commented on #256
It's not about the class itself, it's about `x()` that starts throwing a subtype of `Parent2` instead of a subtype of `Parent1`.

[2020-06-30 23:32] Ocramius commented on #256
Aaaaah, I totally misunderstood the issue then.

Will try again, bit not today at this point 😬

[2020-07-01 11:22] Ocramius commented on #256
Hmm, we don't have any BC check on `@throws` at all.

Few things come to mind:

 1. an `@internal` class should never be part of a `catch` in consumer code
 2. the documented `@throws` type should likely be the public type defined by the library

Overall, the source of the BC break is not the internal class (which cannot be referenced in any way: consider it "private"), but rather the `@throws` co

[2020-07-01 12:18] stof commented on #256
@Ocramius the BC break is the fact that the internal class (the internal implementation of the exception being thrown) is not catched anymore by consuming code which is catching the *public type* `Parent1` (because the internal exception class lost one of its public ancestor types). This re-parenting of an internal exception class caused a BC break even when the consuming code never knows about th

[2020-07-02 19:03] morozov commented on #157
This looks to be caused by https://github.com/humbug/box/issues/460. Same output:
[code]

[2020-07-04 12:49] acrobat commented on #81
@Ocramius this looks like an intresting feature and one I could use! If this is not already in progress I would like to help, but do you have some pointer on how you wanted to solve this (as I'm not really familiar with the internals of this tool)?

[2020-07-04 12:55] Ocramius commented on #81
@acrobat nothing better than digging into the code.

I suggest looking at `bin` to figure out each component: the tool uses dependency injection, so each class has relatively isolated responsibilities.

[2020-07-11 09:58] Ocramius commented on #256
Yep, I think this is to be checked by an `@throws` BC checker though: not by an inheritance check.

[2020-07-17 06:35] Ocramius commented on #157
This is potentially solved in #254, which uses `ocramius/package-versions:^1.10.0`, which in turn relies on `composer-runtime-api:^2`.

That way, the version should always be set.

Cons: `composer/composer:^2` will be required, but I can also see it as a plus :)

[2020-07-17 10:35] Ocramius opened #263 "Improve description of the repository with rationale and examples"

[2020-07-22 13:57] asgrim opened #264 "PHP8: Named parameters support & opt-out attribute"
Since it looks like [named parameters](https://wiki.php.net/rfc/named_params) will pass, with no proposal of having a way to opt out of this feature, I'd like to propose introducing an attribute to have parameter names excluded from BCC rules, by way of annotation.

The main comment I've seen in support of named parameters is that "you can just say you're not supporting named parameters". Unfortun

[2020-07-22 14:25] ondrejmirtes commented on #264
Hi,
PHPStan could definitely disallow using named parameters for functions/methods marked with `@@NoNamedParams` but it might not even be necessary - PHPStan will tell you if you're using a named parameter that doesn't exist after upgrading the library so you could make the inverted argument - "thanks to using PHPStan, I can use named parameters safely because I'll know when the library breaks the

[2020-07-22 15:20] asgrim commented on #264
Thanks for the feedback @ondrejmirtes . I think if we're agreed on `@@NoNamedParams` then we can adapt this here to identify BC breaks (or not, as the case may be) too :+1:

[2020-07-23 13:50] Ocramius commented on #264
Just to be clear: the default will be to prevent renaming of arguments, as that's what the PHP baseline will do.

That will require implementing in this library, and being put in the default config (for now)

[2020-08-10 03:07] muglug commented on #264
Realising the risk that named parameters might inflict serious irritation in some quarters, I'm now fully on board with the use of this annotation.

But I also think that `/** @NoNamedParams */` should be supported by SA tools too, to allow library maintainers to prevent improper use of their code today.

[2020-08-10 03:23] muglug commented on #264
I'm also thinking of adding a config flag to allow the user to tell Psalm to prevent calling any internal methods in the given project with named parameters (so `@NoNamedParams` is assumed anywhere where `@internal` is given)

[2020-08-10 07:52] Ocramius commented on #264
This is probably a good default, rather than a setting - suppressing issues around this is better than configuring the tool to pick it up opt-in.

In order to avoid conflicting with doctrine annotations or such, maybe `@no-named-params`?

[2020-08-14 16:19] muglug commented on #264
I'm going with `@no-named-arguments` as that's really what this should prevent

[2020-08-14 17:05] asgrim commented on #264
Alright, we'll adapt this as part of our PHP 8 support too then; Param name changes will be ignored as BC breaks if `@no-named-arguments` is used 👍

[2020-08-15 04:44] sebastianbergmann commented on #264
👍 from me. I will not make make parameter names part of any backward compatbility promise (I think parameter names are a bad idea) and having this tool not yell at me when I change parameter names would be much appreciated.

[2020-08-17 16:41] Ocramius commented on #264
Ok, so I guess the only thing that's left is implementation: we'll go with `@no-named-arguments`

[2020-08-17 20:19] asgrim opened #265 "`laminas/automatic-releases` roll out"
It would be nice to move onto using `laminas/automatic-releases`, but there is a key issue in that the PHAR releases may be broken since the release workflow isn't triggered as I understand it.

[2020-08-17 20:20] Ocramius commented on #265
Introducing automatic releaaes won't be an issue. The PHAR generation scripts don't seem to work at the moment though.

[2020-08-19 07:59] sebastianbergmann commented on #264
Just to make sure: both Psalm and BackwardCompatibilityCheck (will) use `@no-named-arguments` when it is used in a class-level docblock for all methods of that class, right?

[2020-08-19 08:01] asgrim commented on #264
Seems reasonable, I'll check it when I come to implementing it :)👍

[2020-08-19 15:44] muglug commented on #264
Yup, so will I

[2020-08-20 13:31] TysonAndre commented on #264
How should this work with inheritance? Should it only be limited to methods defined (or inherited) in the class using no-named-arguments, and possibly methods of the same name in subclasses?

[code]

[code]

[2020-08-20 15:10] Ocramius commented on #264
IMO it should be inherited - the first declaration can change at any time, which is what this annotation is about.

In addition to that, PHP raises errors on named params mismatch, so it's a bit of a "we told you so" from the parent implementation :-)

[2020-09-25 10:04] Nyholm opened #267 "Parse error on 5.x"
Running the BC checker on nyholm/psr7 result in:

It works fine with 4.x and I cannot figure out why that class cannot be parsed.

[2020-09-25 15:39] Ocramius commented on #267
Hmm, traits can be tricky (generally suggest to avoid them, but heh, here we are).

I would suggest looking at the backtrace in https://github.com/Roave/BackwardCompatibilityCheck/blob/8a3d4a38369d5dcdf1590e031ac822d52e057677/src/DetectChanges/BCBreak/TraitBased/SkipTraitBasedErrors.php#L26

[2020-10-01 09:48] Nyholm commented on #267
I've spent some time debugging this now. It is not related to `SkipTraitBasedErrors`. It is related to https://github.com/nikic/PHP-Parser/issues/710

I get a TypeError

Somehow, a `String_` get a null value.

I think it is because of the `MemoizingParser` in BetterReflecetion

[2020-10-01 10:40] #267 closed

[2020-10-31 11:12] greg0ire opened #268 "Compare with last tag on the same branch as the target branch"
[code]

Right now [it detects that the last version is… 3.0.0](https://github.com/doctrine/migrations/pull/1069/checks?check_run_id=1335686748#step:5:173), which is confusing.

I believe this could be done by detected what branch the commit being tested is based on. On most CI systems, the commit being tested is the result of a merge between the target branch and the last commit on PR. This means

[2020-11-01 19:25] Ocramius commented on #268
Hmm, yeah, implementing this sounds like a good addition, but here's another scenario that IMO should be considered:

 1. I fork off `2.0.x` (and I keep the branch name)
 2. I send a PR against upstream `3.0.x`
 3. ???

It's a bit more blurry in this case, since the tool doesn't know about the branching mechanism at all.

We can most certainly try to make a convention, but it needs to be quite ver

[2020-11-01 20:15] greg0ire commented on #268
I'm not sure I see the issue, that must be because I don't know how the tool works well enough.
At step 3. , the CI is effectively run on a commit that is a merge of 3.0.x , and the other one is some commit that has 2.0.x in its ancestry. we follow 3.0.x ancestry chain until we find a tag, say 3.0.2, that we detect as the last minor. We then proceed as usual.

[2020-11-01 20:26] Ocramius commented on #268
That's only if your CI simulates merges

[2020-11-01 21:51] greg0ire commented on #268
Doesn't it always do that? By the way, we say it's the CI, but I think it is in fact Github that simulates the merge before passing it on to the actual CI system (Travis, Github Actions, Appveyor, etc.).

[the docs about pull request events](https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows#pull-request-events-for-forked-repositories-1) seems to say it

[2020-11-01 21:55] Ocramius commented on #268
In pull requests, the commit is verified AFAIK, not the merge.

Anyway, it is still an assumption, not the actual reality: the CLI tool should generally stay agnostic from this assumption.

Getting the closest tagged ancestor from a specific patch seems valid, but is a problem if the merge target has different ancestors.

[2020-11-02 08:02] greg0ire commented on #268
Please check, I have always observed the opposite. The only situation I can think of where that happens is when there are conflicts and you cannot perform the merge.

True. What about this: if the verified commit is not a merge commit, behave as usual, otherwise use the behavior described in this PR. The contributor may still push a merge commit to their branch, but in that case I think the behavi

[2020-11-02 08:53] Ocramius commented on #268
As it currently stands, the list of tags is sorted and iterated upon:

https://github.com/Roave/BackwardCompatibilityCheck/blob/2eae3f72084f0bdc59847e486581f7882ba6a88c/src/Git/GetVersionCollectionFromGitRepository.php#L30-L32

What we could do is do a `--from-closest-released-ancestor=$SHA1` (usually `HEAD`), which would then proceed to search for the newest tagged ancestor.

The default behavior

[2020-11-02 09:34] greg0ire commented on #268
`git describe --tags --abbrev=0 $SHA1` should do the trick I think: https://stackoverflow.com/a/7261049/353612

[2020-11-02 09:35] Ocramius commented on #268
Yes, but needs to be controlled by new parameter, which is the more complicated bit

[2020-11-10 23:12] lcobucci commented on #268
Isn't it simpler to have each base branch using `--from` explicitly? It's not all pretty and automatic but reduces the potential edge-cases...

[2020-11-11 01:05] Ocramius commented on #268
Looking back at this, I must say that `--from="$(your-program-here)"` is probably a healthier approach to this, given that the convention used by `laminas/automatic-releases` is extremely young and widely unknown

[2020-11-20 08:59] lcobucci commented on #268
Here's an example of how to solve this using GH actions: https://github.com/lcobucci/jwt/pull/534/files#diff-828df298ab61cb562c901dd8bd15d49b8e7023ba87e3e60a6b1a06eefe252fd8

[2020-11-20 18:12] greg0ire commented on #268
Works for me, I'm ok for closing this if you are.

[2020-11-20 18:13] Ocramius commented on #268
Gonna close here then: example is succinct.

If you want, send a patch with docs, if relevant.

[2020-11-20 18:13] #268 closed

[2020-11-24 16:03] rieschl opened #270 "Additional info for running Docker image with private repos"
I use this tool with Docker to check our internal libraries if our devs don't add bc breaks. I run it manually on my local machine for larger PRs, not automatically in GH actions.

So I need to modify the command a little bit and maybe someone in the same situation can benefit from that:

[code]

That mounts the `auth.json` for composer (private Satis) and SSH keys to the container. It didn't work

[2020-11-24 16:34] Ocramius commented on #270
I think this should be documented in the docker image: the tool itself assumes a fully functional app as mounted volume, unless it does some trickery that I'm unaware of?

If it started doing more than that (such as running `composer install`), it would probably be best to link the image docs, instead of expanding scope here.

[2020-11-24 16:51] rieschl commented on #270
Right, putting it in the readme of the docker repo is a good idea 🙂
@Nyholm what do you think?

[2020-11-24 16:56] Ocramius commented on #270
Ah, I just checked something that I missed as an assumption: `roave/backward-compatibility-check` does indeed perform `composer install` in a temporary location (by design).

Therefore nothing to do with `Dockerfile`, but it is true that `docker install` must be working according to current user credentials, when using private packages.

[2020-11-24 16:57] Ocramius commented on #270
Probably not something to be put in documentation as an example: using a deployment SSH key is preferable :-)

[2020-12-08 19:06] tomasnorre opened #271 "Question: could not locate vendor/composer/installed.json"
Hi,

I'm currently trying out this tool, to help me learn more about breaking changes.

I have project that isn't setup like standard PHP like:

`src/`, `vendor` etc.

And I saw that it was a problem for this tool as expecting folders like that.
I have added this to my Github actions:

And before running the `vendor/bin/roave-backward-compatibility-check` I've done:
[code]

But I still get this er

[2020-12-08 19:11] Ocramius commented on #271
Yep, a `composer install` is being simulated in both `--from` and `--to` refs (in your case, `9.1.0` and `HEAD`, if I understood correctly), so the tool either needs to become smart enough to understand `vendor-dir` or you have to start checking from the point in your git history where a conventional `vendor` location is used.

[2020-12-08 19:31] tomasnorre commented on #271
Thanks for a fast reply.
Will see if I can come up with a solution that allows non-standard vendor-dirs.

[2020-12-08 19:37] Ocramius commented on #271
Related paths here:

## Installation path is passed to `MakeLocatorForInstalledJson` here:

https://github.com/Roave/BackwardCompatibilityCheck/blob/20c0e653865822ecf836bd249810dea8f677a864/src/LocateDependencies/LocateDependenciesViaComposer.php#L58

That is part of `BetterReflection`: https://github.com/Roave/BetterReflection/blob/df8a13c8aafc5036d2c65884acd02d006905a433/src/SourceLocator/Type/C

[2020-12-14 17:48] tomasnorre commented on #271
This can be closed then, as this will be solved with the next release of roave/better-reflection (4.12.x)

[2020-12-14 17:48] #271 closed

[2020-12-14 17:49] tomasnorre commented on #271
Oh. You already released it. That's fast.
Thanks

[2020-12-14 17:59] Ocramius commented on #271
Automation FTW!

Spent my damn summer on https://github.com/laminas/automatic-releases :D

[2020-12-14 18:10] Ocramius commented on #271
@tomasnorre just to verify: this works now?

[2020-12-14 19:10] tomasnorre commented on #271
I'm having some composer requirement conflicts. Will let you know when I get them resolved.

[2020-12-14 20:40] tomasnorre commented on #271
Still don't look like it's working, but can be an error on my side, didn't have time to debug to find the mistake.

But at least I get the newest version, so in theory it should haven been fixed.
[code]
Will dig more into this when I find some time.

[2020-12-14 21:18] tomasnorre commented on #271
The problems are summed up here.
https://github.com/Roave/BetterReflection/issues/714

[2020-12-17 20:30] tomasnorre commented on #265
Can I help out here? Would like to get to know the `laminas/automatic-releases` better to see if it's could be beneficial for my repository.

[2020-12-18 02:23] Ocramius commented on #265
It could be (in theory) copied from `roave/better-reflection` (literally copy the `yml` file over).

The reason why this isn't done yet is due to phar builds, which are regularly broken, and tbh I don't see as a priority for now.

If you think there's a chance to automate also phar builds with it (as a reaction to releases - separate workflow), then by all means go for it 👍

[2020-12-18 06:38] tomasnorre commented on #265
I'll have a look at it and see what I can come up with.

[2021-01-18 11:45] WyriHaximus opened #283 "PHP 8 support"
Aside from #264, is there anything else that is blocking a PHP 8 compatible release?

P.S. This is a tracking issue for a release that supports PHP 8.

[2021-01-18 11:47] asgrim commented on #283
I think BR (which this depends on) already supports PHP 8, but yeah the named params BC break is a big one that will need to go in. Sorry kinda dropped the ball there :/

[2021-01-18 11:48] Ocramius commented on #283
BetterReflection needs major work: https://github.com/Roave/BetterReflection/issues/701

[2021-01-18 11:48] asgrim commented on #283
clearly this is fake news

[2021-02-15 21:48] VincentLanglet opened #289 "Interface could not be found in the located source"
When trying to add this library to SonataAdmin (https://github.com/sonata-project/SonataAdminBundle/pull/6802) we get an error:
https://github.com/vladyslavstartsev/SonataAdminBundle/runs/1755213208?check_suite_focus=true

[code]

But the `InternalMetadataInterface` is defined here:
https://github.com/sonata-project/SonataAdminBundle/blob/137ffd9f6053fa0b734c2e1dd7db86d6c3b94aed/src/Object/Metadat

[2021-02-16 11:10] Ocramius commented on #289
Fairly sure that since it's in a conditional, it does not get scanned at all by `roave/better-reflection`: potentially to be tested with a `StringSourceLocator` (https://github.com/Roave/BetterReflection/blob/4eabb04831a249dc43d2f3aeb8b9d6bbc57c5916/src/SourceLocator/Type/StringSourceLocator.php)

[2021-02-16 11:14] VincentLanglet commented on #289
I know nothing about the `better-reflection` library but that was my hypothesis.
I'm not sure it's possible to avoid this conditional ; do you think it's something that can be improved in `better-reflection` ?
Should the issue be moved to this library then ?

[2021-02-16 11:21] Ocramius commented on #289
do you think it's something that can be improved in `better-reflection`?

Difficult to say: the definition of `InternalMetadataInterface` is conditionally declared, and it is not currently possible to evaluate the condition statically there.

[2021-05-01 10:30] burzum opened #303 "Ignoring files and folders by pattern?"
This tool would be very useful for us if it had this feature. :) Any plans on adding this? I don't mind to contribute the feature if you would accept it.

We have a module based architecture and we do semver with our modules. We have a specification for what we consider to be public API in these modules. Everything else is allowed to change because it is behind the facade. So we wouldn't need to B

[2021-05-01 10:38] Ocramius commented on #303
Heyo: what you declare in your "autoload" section is public API by default,
and that's how it's understood by the community at large too.

If you need it to be internal only, mark it ***@***.***` to prevent outside
usage.

On Sat, May 1, 2021, 12:30 burzum ***@***.***> wrote:

[2021-05-01 12:42] burzum commented on #303
As I wrote within our internal constraints and the way our architecture works (modules are only allowed to access other modules facade through a bridge) the only API of a module we consider public and want to check for BC breaks is the facade. If you touch anything else your fault, we only guarantee that the facade is stable. This is the exact use case I want to use this tool for.

[2021-05-01 12:45] #303 closed

[2021-05-01 13:50] Ocramius commented on #303
You should really declare everything internal except for the facade then 👍

On Sat, May 1, 2021, 14:42 burzum ***@***.***> wrote:

[2021-05-04 16:15] sebastianbergmann commented on #283
Any update on this? Thanks!

[2021-05-04 16:17] Ocramius commented on #283
@sebastianbergmann no work happening here ATM - too much stuff to maintain, and too little time to get it done.

Roave/BetterReflection#701 is still the major issue here.

[2021-05-07 11:57] Legion112 opened #304 "Does not work with composer v2"
[code]
# My composer version
[code]

[2021-05-07 14:10] Ocramius commented on #304
I see that your error contains:

[code]

I think I can tag `5.1.0` with `^2` dependencies :+1:

[2021-05-07 15:28] #304 closed

[2021-05-28 14:09] ondrejmirtes opened #307 "Picking last minor release vs. the last release"
Hi,
I just noticed an oddity in the logic - the tool compares current HEAD against the last minor release, meaning even if there's 2.2.5, it will compare HEAD against 2.2.0.

I think this will lead to not noticing BC breaks between patch versions.

Let's say I add a new method in 2.2.1. Because the method does not exist in 2.2.0, the tool will consider it as a new method in the current HEAD when g

[2021-05-28 14:13] Ocramius commented on #307
Related: https://github.com/Roave/BackwardCompatibilityCheck/pull/305#issuecomment-840538588

[2021-05-28 14:15] Ocramius commented on #307
This should IMO have been where the new API method is introduced?

[2021-05-28 14:22] Ocramius commented on #307
Reading the whole thing, I think it makes sense to compare BC against the latest patch, instead of the latest minor.

The initial idea I had when developing this library is that:

 * new features are developed in new minors
 * those new minors need to be protected against BC

In fact though, if BC is incrementally maintained between patch releases too, that shouldn't be a problem.

[2021-05-28 14:26] ondrejmirtes commented on #307
Yeah, I guess I'd sleep calmer if HEAD was always compared against the latest release, be it major, minor, or even patch :)

[2021-05-29 09:25] asgrim commented on #307
Maybe make it an option? `--compare-against-latest-patch`, `--compare-against-latest-minor`, etc.?

[2021-05-29 09:46] Ocramius commented on #307
Imo `--from` covers that, and git+bash can do the rest

On Sat, May 29, 2021, 11:25 James Titcumb ***@***.***> wrote:

[2021-06-02 16:00] ktomk commented on #283
If you're pushy, you can try to just run it. Mind the installer output the configured PHP version has all the extensions, the warnings for the PHP versions I did ignore and it all worked.

Replace :dev-master or any of the composer config options in the composer related goals to control with which version you would like to run.

Display is optimized for composer 2, log has all standard error, stan

[2021-06-02 16:06] Ocramius commented on #283
Just beware that it will crash and/or misreport on the first usages of PHP
8 built-ins.

Marco Pivetta

http://twitter.com/Ocramius

http://ocramius.github.com/

On Wed, Jun 2, 2021 at 6:01 PM Tom Klingenberg ***@***.***>
wrote:

[2021-06-02 16:10] ktomk commented on #283
the code I test it with is not of php 8 syntax, true. the composer 2 message nugged me, so I just put in some force.

[2021-06-06 17:15] Ocramius commented on #307
I'm targeting this for 6.0: it's a behavioral change that is worth a BC break.

[2021-07-27 12:21] vjik opened #313 "False-positive result on add nullable type in final method of abstract class"
Example:

[code]

changed to:

[code]

result will be:

[code]

Real example: https://github.com/yiisoft/html/pull/78

[2021-07-27 12:30] Ocramius commented on #313
So, if I understand correctly, if a method is `final`, then a contravariant type (expansion) is acceptable here.

The check should be this one:

https://github.com/Roave/BackwardCompatibilityCheck/blob/7f185e3128276bbaa3d6c086ebee45e3ba02c374/src/DetectChanges/BCBreak/FunctionBased/ParameterTypeChanged.php#L22

I think we need to restrict `ParameterTypeChanged` checks (see https://github.com/Roave

[2021-08-21 16:20] vjik opened #317 "False-positive result on change parameter type from `array` to `iterable`"
Example:

[code]

changed to:

[code]

result will be:

[code]

Real example: https://github.com/yiisoft/arrays/pull/97

[2021-09-07 17:17] Majkl578 commented on #317
Not a false positive, changing `array` to `iterable` in non-final class/method will break all consumers overriding that method - parameters are contravariant and as such child types can't be more specific: https://3v4l.org/BsFuX

[2021-09-07 18:36] vjik commented on #317
Thank you for the explanation!
I lost sight of the fact that class not final.

[2021-09-07 18:36] #317 closed

[2021-09-07 18:36] Ocramius commented on #317
Can we verify if this affects also `final` classes? Agree on what @Majkl578 said here: on `non-final` classes, changing parameter types is generally not possible.

 * removing parameter types breaks child classes
 * widening parameter types breaks child classes
 * restricting parameter types breaks consumers

[2021-10-07 14:11] asgrim commented on #203
@Nyholm would #319 help this issue perhaps?

[2021-10-08 16:11] asgrim commented on #203
OK; so not quite the best solution :) I'm ok to leave this issue open as a possible improvement.

[2021-11-05 17:41] Ocramius commented on #307
Not going to be able to drag this into `6.0` - removing milestone for now.

[2021-11-05 17:41] Ocramius commented on #313
Not going to be able to drag this into `6.0` - removing milestone for now.

[2021-11-05 17:42] Ocramius commented on #246
Not going to be able to drag this into `6.0` - removing milestone for now.

[2021-11-05 17:42] Ocramius commented on #133
Not going to be able to drag this into `6.0` - removing milestone for now.

[2021-11-05 17:42] Ocramius commented on #264
Not going to be able to drag this into `6.0` - removing milestone for now.

[2021-11-05 17:43] Ocramius commented on #111
Not going to be able to drag this into `6.0` - removing milestone for now.

[2021-11-05 18:20] #157 closed

[2021-11-05 19:30] #265 closed

[2021-11-05 20:40] #203 closed

[2021-11-06 02:02] Ocramius commented on #283
This is being tracked in #324

[2021-11-06 02:04] Ocramius commented on #283
FWIW, it is impossible to support `php:^7.4` together with `php:~8.0.0` and `php:~8.1.0`.

The changes in reflection in PHP are such an amazing pain in the butt that we simply won't be able to get there in any reasonable time: instead, this tool will need to run from PHP 8.0 or PHP 8.1 only.

It will still be able to analyze PHP 7.4 (and earlier) code, but running it will require a newer environme

[2021-11-23 07:22] JanPietrzyk opened #336 "Roave\BetterReflection\SourceLocator\Type\Composer\Psr\Exception\InvalidPrefixMapping thrown on required library"
Hi,

When running the command I get a `InvalidPrefixMapping` Exception from BetterReflection. One of the included Packages has an addition PSR-4 Namespace, that is actually not included in the package.

While I think this exception is sensible from BetterReflection's point of view, I think it should be handled in BackwardCompatibility check. Composer itself does not seem to see an issue here.

The

[2021-11-23 07:38] Ocramius commented on #336
This is likely thrown way before this tool started its actual runtime, and while it is still setting up source and dependency paths.

Indeed, it is quite strict about how the sources and dependencies are to be scanned (all declared paths must be valid).

[2021-11-23 08:31] JanPietrzyk commented on #336
@Ocramius thank you for your response. Yes you're right, it happens during preparation.

[code]

While this would be easy to fix in BetterReflection's `MakeLocatorForInstalledJson`, it is kind of hard to do it here.

What are your thoughts, is this an issue in BetterReflection?

[2021-11-24 06:54] JanPietrzyk opened #339 "Allow to exclude directories / classes"
I'm currently working on a project that contains example code, template code, documentation and generator scripts. These are separated from the production code and not part of the BC promise. However, they are not marked `@internal`, because documentation takes care of this.

I would prefer to maintain a Blacklist for files and directories to exclude from BC Testing. This would, by the way, make i

[2021-11-24 08:44] Ocramius commented on #339
Marking them as `@internal` is the proper way to deal with this, as it is the deny-list (let's avoid/deprecate the "blacklist" terminology) that you are looking for.

[2021-11-24 08:44] #339 closed, assigned to Ocramius

[2021-11-24 08:53] Ocramius commented on #336
It is potentially something that requires a "custom source locator".

In practice, this means taking this specific file, and rewriting/copying it: https://github.com/Roave/BackwardCompatibilityCheck/blob/d25bf3bdcf8427b5c382cfb06a281583143cf833/bin/roave-backward-compatibility-check.php

This is the problematic bit for you, and that file is thought to be the configuration/entry-point for this tool

[2021-11-24 14:36] JanPietrzyk commented on #339
Good point, sorry.... Bad habit...

@Ocramius  While I understand that `@internal` is the proper way. This is for BC (ironically) reasons not an option at the moment. I am wondering what the path to integrating this tool into the CI environment looks like.

[2021-11-24 14:40] Ocramius commented on #339
Shouldn't those classes then be covered by the tool itself? :thinking:

[2021-11-24 15:00] JanPietrzyk commented on #339
Yep they are. Basically we want to add the tool first and then change the sources accordingly, and in sync with the release plan. At least in my experience that's the better approach because we can verify if it works for us in a shorter amount of time.

I have already forked the project and will just implement the missing bits. If I get you correctly you are not interested in a PR in this context?

[2021-11-24 17:27] Ocramius commented on #339
Depends on scope: in my opinion, implementing a filter in userland is better.

Specifically, I think that we could improve the project in the binary/startup.

This section is usually more "customization-heavy":

https://github.com/Roave/BackwardCompatibilityCheck/blob/d25bf3bdcf8427b5c382cfb06a281583143cf833/bin/roave-backward-compatibility-check.php#L62-L81

The block after it is a more default "

[2021-11-26 15:06] JanPietrzyk commented on #339
Finlay, got it working. I think we will now start to evaluate the tool and see how good it works in our use case. Thank you very much @Ocramius !

Could happen that I will add some more use cases here, I am not sure yet.

BTW I had to make adjustments in three classes

`\Roave\BackwardCompatibility\CompareClasses`

* Add ability to mute certain errors (eg. a `__DIR__` constant as a default value)

[2021-11-26 15:07] JanPietrzyk commented on #336
I think this can be closed for now. I have found a sufficient workaround. Thanks @Ocramius

[2021-11-26 15:07] #336 closed, assigned to nobody

[2021-11-26 16:05] Ocramius commented on #339
This is likely fixed in `roave/better-reflection:5.0.x-dev`

This could probably be worth adding directly to this codebase?

Overall the approach I endorse, absolutely.

If you feel like your filter could work here too, perhaps throw it this way (in a comment, at first), and we may include it later on.

[2021-11-28 17:24] Ocramius opened #342 "Support github output format"
This application/library is 99% of the time going to be used on libraries hosted here on GitHub - we may as well provide the GitHub Actions output format by default.

See https://github.com/vimeo/psalm/blob/8bc71fcf855a0908b913b42b740be6c98960d994/src/Psalm/Report/GithubActionsReport.php
See https://github.com/infection/infection/blob/f60fbc5b4175ea8eb1c825546970d7c1578d23df/src/Logger/GitHubAnnot

[2021-11-28 17:40] staabm commented on #342
Both mentioned links are missing some escaping .. better look e.g. here https://github.com/staabm/annotate-pull-request-from-checkstyle/blob/5b0bb3c69b9c129e81ea85321c09577adf952dd7/cs2pr#L123

[2021-11-28 17:50] Ocramius commented on #342
Eh, escaping is not that critical in log output :D

Still, thx for the reference!

[2021-11-28 18:06] Ocramius commented on #342
Beware: this is not necessarily a small change, as it may require collecting the reflection symbols in the produced `BCBreak` instances

[2021-11-28 19:07] Pierstoval commented on #342
My 2cents: It's possible to enable it automatically by detecting Github Action via environment variables, so you keep your defaults, but if no specific format is passed in CI, you can detect Github and use it

Edit: check these: https://docs.github.com/en/actions/learn-github-actions/environment-variables#default-environment-variables

[2021-11-28 20:22] williamdes commented on #342
You will find all the formats you would like to have here (credits to phpstan for the code): https://github.com/code-lts/cli-tools/tree/main/src/ErrorFormatter

[2021-12-06 03:51] #283 closed

[2021-12-06 03:53] Ocramius opened #348 "Pin to `roave/better-reflection:^5`"
In https://github.com/Roave/BackwardCompatibilityCheck/pull/324 ( https://github.com/Roave/BackwardCompatibilityCheck/pull/324#discussion_r744047039 ) we use `roave/better-reflection:5.0.x-dev@DEV`.

This dependency needs to be upgraded after https://github.com/Roave/BetterReflection/issues/904

We can then do a release for `6.0.0`

[2021-12-06 03:54] Ocramius opened #349 "Re-arrange CI checks so that automatic dependency upgrades can be performed by checking a single workflow"

[2021-12-06 04:15] #349 closed, assigned to Ocramius

[2021-12-06 04:54] #264 closed

[2021-12-06 04:54] Ocramius commented on #348
Note: `6.0.0` really needs a bit of release notes to be provided (on the milestone)

[2021-12-10 08:44] asgrim opened #360 "[6.0.x] `ParameterNameChanged` depends on `Safe\sprintf`, but it is not required"
https://github.com/Roave/BackwardCompatibilityCheck/blob/c6421b992fa303c06782074460013a21363bcc85/src/DetectChanges/BCBreak/FunctionBased/ParameterNameChanged.php#L15

The line above is importing a dependency which is not relied upon (`Safe\sprintf`).

[code]

Example: https://github.com/browscap/browscap-php/runs/4481169600?check_suite_focus=true#step:8:107

Essentially, we do:

[code]

[2021-12-11 14:27] #360 closed, assigned to asgrim

[2021-12-20 12:47] shyim commented on #304
@Ocramius When will be 5.1.0 released? I can't use as our composer.json uses a new package which is only distributed to composer v2

[2021-12-20 12:50] Ocramius commented on #304
Probably releasing `6.0.0` after finishing up `roave/better-reflection:5.0.0`

[2021-12-26 02:19] Ocramius opened #369 "Report addition of `trigger_error()` to a function's body as a BC break"
Functions that are otherwise working fine cannot have `trigger_error()` expressions added to them, as that:

 * breaks downstream consumers (output, loggers, test suites)
 * introduces an unwanted side-effected, which could potentially cause major issues in a production environment

Therefore, we will add a new checker that ensures that `trigger_error()` additions are considered BC breaks.

[2021-12-26 02:27] Ocramius commented on #348
Handled in #368

[2021-12-26 02:27] #348 closed, assigned to Ocramius

[2021-12-26 05:05] #342 closed, assigned to Ocramius

[2021-12-26 05:08] Ocramius commented on #342
Handled in #371

[2021-12-26 08:18] asgrim opened #374 "Phar release is not created"
As per:

https://twitter.com/s_bergmann/status/1475014835129757699

Looks like the "release-phar" action did not run (can't verify, I'm on phone)

It should be triggered by creating the release. However, my guess is that because we're using laminas/automatic-releases, downstream events are not triggered due to the GitHub access token being used. It might be possible to switch this out to use the p

[2021-12-26 12:58] Ocramius commented on #374
The token for the release is mine though: we should be fine.

We could copy https://github.com/maglnet/ComposerRequireChecker/blob/28d7833f000667fd90ae2d38b19cf670593af190/.github/workflows/phar-creation.yml to fix this.

[2021-12-28 08:40] shyim opened #377 "Extension system"
Hey,

we're currently adding custom checks into this tool using composer patches. I feel really dirty to add a custom check into the list of https://github.com/Roave/BackwardCompatibilityCheck/blob/6.1.x/bin/roave-backward-compatibility-check.php#L86

I guess a simple extension system could help here already to add custom checks.

What I think is:

- A interface with methods like `getClassChecks`

[2021-12-28 09:35] Ocramius commented on #377
This block of code is literally **the** configuration of this utility:

https://github.com/Roave/BackwardCompatibilityCheck/blob/d4c84f0b52f2361a517bfa6c9f992311d4a5d6ce/bin/roave-backward-compatibility-check.php#L82-L311

The current way you customize it is by copying the whole `roave-backward-compatibility-check.php` and writing your own version of it. The piece that is usually "in common" is th

[2021-12-28 09:35] #377 closed, assigned to Ocramius

[2022-01-02 11:57] weirdan opened #382 "Internal namespaces"
In Psalm, we're using the `Psalm\Internal` namespace to designate all symbols under it as internal, instead of marking them with `@internal`. My understanding is that it's not something supported by this package.

I'd love some pointers on where I could start implementing this.

[2022-01-02 15:17] Ocramius commented on #382
## Endorsement: don't do it

IMO they should be marked as `@internal` (single pass over everything in your codebase - easy enough, and recognized by IDEs).

The fact that `Psalm\Internal` is for "internal" stuff is your own convention, which IMO shouldn't be generalized, as it endorses hiding stuff under the carpet, while it should live nearby public symbols sometimes (similar to the "Util" namesp

[2022-01-02 15:17] #382 closed, assigned to Ocramius

[2022-01-03 17:25] weirdan opened #388 "Duplicate issues reported when public method is removed on a parent class"
Assume we have the following class hierarchy:

[code]

When `A::m()` is removed, BCC reports `Method A#m() was removed` 3 times, once for the base class and once more for every descendant.

[2022-01-03 17:26] weirdan commented on #388
https://github.com/vimeo/psalm/pull/7276/files resulted in 867 entries in changelog.

[2022-01-03 17:28] Ocramius commented on #388
Yes, the duplication is annoying, but kinda necessary when inheritance involves third-party dependencies.

IMO it is not that problematic, compared to not having this reported at all :thinking:

[2022-01-03 17:35] weirdan commented on #388
The problem is, BCC does not report the issue on the descendant class, it just repeats the same message:

At the very least I would expect something like this:

[2022-01-03 17:36] Ocramius commented on #388
Makes sense - that is certainly something we can improve on!

[2022-01-09 08:55] mimmi20 opened #400 "False positive result when __DIR__ is used"
Example:

[code]

Expected Result: no error

Result:
[code]

[2022-01-09 09:09] asgrim commented on #400
Hmm. Constant values changing is only a BC break if the values are used anywhere as plain strings. I think perhaps a way to ignore some BC breaks might be the way forward here, WDYT @Ocramius

Maybe we could add an attribute, something like:

[code]

[2022-01-09 12:56] Ocramius commented on #400
Tricky one: I guess we need to handle `__DIR__` differently, but we don't have the abstraction to do so in this library 🤔

[2022-01-13 16:04] asgrim opened #409 "Support @no-named-arguments when applied to whole class"
https://github.com/Roave/BackwardCompatibilityCheck/blob/316285bd5d3788d7fd1c28d99b76dcac64e3074a/src/DetectChanges/BCBreak/FunctionBased/ParameterNameChanged.php#L114-L117

The current implementation only recognises if `@no-named-arguments` on the method/function itself.

Apparently, PHPUnit uses this on the class-level too, which is a reasonable assumption that is missed out here:

[code]

[2022-01-13 16:24] Ocramius commented on #409
Overall good idea to implement this, and should be BC compatible to implement this :+1:

[2022-01-15 13:12] #409 closed, assigned to asgrim

[2022-01-20 17:35] Ocramius commented on #307
Looking back at this, I can imagine that:

 * `roave/backward-compatibility-check` is generally used in CI, to verify pull requests
 * merging a red PR from a contributor will lead to all subsequent PRs going red, until a new minor release is cut
 * the idea is to check BC from patch to patch

I suggest changing the defaults of this library from checking the latest minor release to checking the ba

[2022-01-20 19:17] asgrim commented on #307
Yes, I observed this where I'm using `roave/backward-compatibility-check`; I figured it was desirable, but I can see why it's not ideal for others.

[2022-01-20 19:18] Ocramius commented on #307
Yup, and also, nothing denies providing a `--from=` manually, allowing for consumers to always pick their own approach.

[2022-02-04 01:54] weirdan opened #429 "Adding `Stringable` polyfill causes false positive (`Stringable ancestor removed`)"
Live example: https://github.com/vimeo/psalm/runs/5059860222?check_suite_focus=true

### Steps to reproduce:
1. Add `roave/backward-compatibility-check:6.1` to a project that didn't use `symfony/polyfill-php80` and that also has some classes with `__toString()` method.
2. Commit `composer.json` (and `composer.lock` if it's versioned),
3. Run `vendor/bin/roave-backward-compatibility-check --from="H

[2022-02-04 09:35] Ocramius commented on #429
Hmm, is this with the latest `roave/better-reflection` installed? 🤔

[2022-02-04 11:44] weirdan commented on #429
With `roave/better-reflection:5.0.7`

[2022-02-04 17:08] Ocramius commented on #429
I just reproduced this locally:

[code]

This is because `Stringable` does not exist in the understanding of the codebase by BetterReflection.

By adding the internal source locator, the problem goes away:

[code]

This is the behavior in isolation, but in integration, this is probably related to how the whole source locator is set up (currently investigating that).

[2022-02-04 17:19] weirdan commented on #429
Note that contrary to your example, none of the classes we have in Psalm has explicit `implements Stringable`. Also, `Stringable` polyfill was *added* rather than removed. And of course, it wasn't doing anything as the analysis was run on PHP 8.1. `if (\PHP_VERSION_ID < 80000)` check effectively made it a piece of dead code.

[2022-02-04 17:20] Ocramius commented on #429
In `$toReflector`, the `Stringable` is not there. BetterReflection adds `Stringable` to a class when it sees `__toString`: https://github.com/Roave/BetterReflection/blob/d5c9a1afe2ed031c1c86aae58d22f70edb586c67/src/Reflection/ReflectionClass.php#L1113-L1144

For that to work, `Stringable` must be defined in the sources known to BetterReflection (including its internal stubs)

[2022-02-04 17:21] Ocramius commented on #429
This is very interesting :thinking:

[2022-02-04 17:34] Ocramius commented on #429
I managed to reproduce this on a minimal example with:

[code]

[code]

Then added a commit to add the PHP 8.0 polyfill:

[code]

The report:

[code]

It seems like the polyfill breaks fetching the `Stringable` class definition.

[2022-02-04 17:39] Ocramius commented on #429
Aha, found it. In `roave/better-reflection`, we only add the `Stringable` interface to the ancestors in a `ReflectionClass` of our sources if it is an internal class ( https://github.com/Roave/BetterReflection/blob/d5c9a1afe2ed031c1c86aae58d22f70edb586c67/src/Reflection/ReflectionClass.php#L1113-L1144 )

[code]

Obviously, the `symfony/polyfill-php80` is not an internal class, and therefore it is

[2022-02-04 17:57] Ocramius commented on #429
@weirdan can you review #431 please? Should be fairly simple :)

[2022-02-04 18:56] #429 closed, assigned to weirdan, Ocramius

[2022-02-04 19:14] weirdan commented on #429
Thanks!

[2022-02-07 09:35] Wirone opened #437 "False positive when type is changed from interface to implementation"
ℹ️ Using `roave/backward-compatibility-check` 5.0

Today I've tested this library against our package that I've made changes in and I think it reports false-positive errors like:

[code]

In fact, `ServerRequestProxy` implements `ServerRequestInterface` and adds some more custom methods. So basically we're keeping 100% of previous API, only extending it.

[2022-02-07 10:04] Ocramius commented on #437
For this one:

[code]

This type change is a BC break: writing a `ServerRequestInterface` to `BaseController#$request` will now lead to a crash.

[code]
https://3v4l.org/p6CTt

[code]

This means that all class extending `BaseController` and declaring `BaseController#getRequest()` will need to be adjusted

[code]

https://3v4l.org/t5t26

[2022-02-07 10:04] #437 closed, assigned to Ocramius

[2022-02-07 10:07] Ocramius commented on #437
Solutions:

 1. make `$request` property `private` (and generally, design `private` first)
 2. make `getRequest()` `final` (and design with final API as much as possible)

[2022-02-07 10:56] Wirone commented on #437
`BaseController::$request` was initialised in `final` constructor but yeah, property itself was `protected`, so writing was allowed in child classes and it would be BC-break then. Thanks for pointing it out with useful explanation 🍻

[2022-02-07 11:18] Ocramius commented on #437
I can totally endorse making everything `final`, `private` and `@internal`, when possible :P

[2022-02-23 08:49] asgrim opened #450 "False positives when vendor libraries are updated sometimes"
We are trying to update `browscap/browscap-php` to allow Symfony 6, but we get a lot of BC breaks reported in classes that are not part of Browscap at all. I was hoping 6.1.1 (specifically PR #431) might fix this, but it does not appear to.

### Steps to reproduce

 * Take a project that supports Symfony 5
 * Add support for Symfony 6 (example changeset: browscap/browscap-php#418)
 * Run BCC

###

[2022-02-23 09:02] asgrim commented on #450
Not false positives; `browscap/browscap-php` has classes that extend Symfony components, and therefore upstream BC breaks are indeed Browscap's BC breaks too, so this is valid reporting. Closing as this ticket is invalid.

[2022-02-23 09:02] #450 closed, assigned to asgrim

[2022-02-23 09:02] Ocramius commented on #450
Discussed with @asgrim in chat:

 * `Command` from symfony is extended, therefore BC breaks are inherited
 * `Filesystem` from symfony is extended, therefore BC breaks are inherited

Potential solutions:

 * hide things in private adapters
 * mark API as `@internal` where inheriting from third-parties

[2022-02-23 09:02] asgrim commented on #450
Thanks @Ocramius you legend

[2022-03-22 17:57] Ocramius commented on #245
We're on 6.x already, closing here :D

[2022-03-22 17:57] #245 closed

[2022-03-23 15:26] #400 closed, assigned to asgrim

[2022-03-31 10:06] Ocramius commented on #307
I removed the milestone for now, since I released `7.0.0` just to get another BC break out of the door, for now.

[2022-04-02 12:41] ondrejmirtes opened #497 "Are changes to the constructor really BC breaks?"
Hi, I've got these messages:

[code]

This is how the PHP diff looks like:

[code]

I'm widening the type of the parameter, and if the argument is omitted from the call, or if the old type is passed to the parameter, the result is the same.

I don't see how this is a BC break, but I'm open to be corrected :) Thanks.

[2022-04-02 12:45] Ocramius commented on #497
Probably need an exclusion for constructors, since in PHP they can be overridden

[2022-04-02 12:46] ondrejmirtes commented on #497
Only abstract ones and those coming from interfaces can't :)

[2022-04-02 12:54] Ocramius commented on #497
Actually, default value changes are most likely still a BC break, can't remember context though 🤔

As for type, it seems like a bug to me

[2022-04-02 23:08] Ocramius commented on #497
Ah, brain fart: of course child classes cannot reduce the type of a parameter, so that's what is tripping this analysis.

We really just need to exclude constructors, like we do exclude methods for `final` classes, because the BC break is valid for inheritance, just not for `__construct()`

[2022-04-04 20:48] RikudouSage commented on #369
What about `E_USER_DEPRECATED`? That IMO shouldn't be a BC break.

[2022-04-04 21:00] Ocramius commented on #369
That is pretty much the reason why this issue exists: userland deprecations in previously working code, breaking downstream consumers.

It's a dangerous and irresponsible approach perpetrated by `symfony/*` packages.

[2022-04-04 21:58] RikudouSage commented on #369
I mean, if you don't configure your app to ignore deprecations you can't really blame anyone.

[2022-04-04 22:02] Ocramius commented on #369
It's not just apps: it's a whole chain of libraries, tools and thousands of hours of work, just to stay in sync with side-effects introduced very deep in your stack frames.

For instance, in this specific library, a deprecation warning will break e2e tests, because STDERR is broken by those, and output buffering will catch them.

In other systems, an unrelated error listener may be tripped: potent

[2022-05-08 05:59] sebastianbergmann commented on #374
Sorry for bothering: **ping**.

[2022-08-23 01:55] odahcam opened #587 "Can't run in macOS with PHP 7.3 and Composer 2.2.x"
I have the following error:

[code]

The correct "command" would be: `"'git' 'rev-parse' 'v2.69.10'"`

[2022-08-23 07:44] Ocramius commented on #587
I think we fixed this a lot of time ago, but you need to upgrade: what version of the library are you on?

[2022-08-23 07:59] Ocramius commented on #587
Looks like this is a duplicate of:

* #37
* #105
* #179

In theory, this should work on newer versions: please check.

[2022-08-29 08:47] Ocramius commented on #587
Closing here.

[2022-08-29 08:47] #587 closed, assigned to odahcam

[2022-09-12 21:13] odahcam opened #614 "Is this compatible with Composer v2?"
When I try to install this package in my project using Composer v2.2.x I get this output:

[code]

Which indicates `composer/composer[1.10.7, ..., 1.10.x-dev]`  and `composer/semver` are incompatible.

[2022-09-12 22:03] Ocramius commented on #614
Seems like you are installing a really old version?

See 7.1.0, for example:

https://github.com/Roave/BackwardCompatibilityCheck/blob/10abd71ae2b1ffe79b216312c4dd01455eee4eb5/composer.json#L8

[2022-09-12 22:03] #614 closed, assigned to Ocramius

[2022-09-13 01:40] odahcam commented on #614
Well, I'm in PHP 7.4, so Composer automagically resolves the supported package version for that PHP version, which is ^5.0. Both 7.0 and 7.1 requires PHP 8 so it won't work. Isn't there a workaround?

[2022-09-13 01:44] odahcam commented on #614
Oh, seems like this is related to #587, I didn't remember that issue.

[2022-09-13 07:13] Ocramius commented on #614
You can run this tool from PHP 8.1 and against a 7.4 codebase.

[2022-10-11 14:21] mad-briller opened #653 "Using this package in Bitbucket Pipelines"
First things first, this package is a genius idea, thank you for the work on it.

However we are trying to integrate it with Bitbucket pipelines and insights, but the output formats available are awkward for us to consume in this context.

`github-actions` is the most machine-readable but that requires us to implement a custom parser for the format to transform into the format required by bitbucke

[2022-10-11 14:31] Ocramius commented on #653
Sure thing, but if we provide a JSON formatter, it must come with an associated JSON Schema

[2022-10-11 14:39] Ocramius commented on #653
BTW, you can check for more standard formats, like XUnit and similar: some of them work well with both Bitbucket and GitLab

[2022-10-11 14:47] mad-briller commented on #653
Bitbucket accepts those as test-reports but won't use them for the purpose of annotating pull requests unfortunately; annotating pull requests in the bitbucket world requires making api requests, which is very awkward.

However it still stands to reason that we could use a more standard format, i will look into JUnit as it's one i'm more familiar with. Don't know why i didn't think of that first,

[2022-10-11 14:52] Ocramius commented on #653
Yeah, even if the reporting requires making API calls, tooling for that probably already exists, given a good input format.

[2022-10-13 11:09] #653 closed, assigned to mad-briller

[2022-10-13 11:16] mad-briller commented on #653
thanks for your help with this @Ocramius

[2022-10-13 11:18] Ocramius commented on #653
Thank you for implementing this with a clean design! 👍

[2022-10-22 21:29] #289 closed

[2022-10-27 08:56] lulco opened #671 "Infinit loop"
First of all, thanks for great package. It is very helpful for me.

Sometimes your package is trying to analyse classes multiple (infinite) times. I didn't figure out how and why, but I've created minimalistic repository to reproduce issue. The repository is here: https://github.com/lulco/bc-break-demo

Please follow the readme to reproduce. I've added debug output to DefaultReflector and I can se

[2022-10-27 11:39] Ocramius commented on #671
@lulco did you already upgrade the `roave/better-reflection` dependency there?

[2022-10-27 11:48] lulco commented on #671
Yes I think I'm up to date:
[code]

[code]

[2022-10-27 11:56] Ocramius commented on #671
Hmm, I think this problem is to be reproduced in `roave/better-reflection` then 🤔

Can you perhaps show the stack trace for such an infinite recursion?

[2022-10-27 12:22] lulco commented on #671
is debug_print_backtrace enough?

[code]

Or I generated this
[loop--2022-10-27--14-07--8ab6a57085.html.zip](https://github.com/Roave/BackwardCompatibilityCheck/files/9879250/loop--2022-10-27--14-07--8ab6a57085.html.zip)

[2022-10-27 12:30] Ocramius commented on #671
The trace doesn't seem to be very large here - do you have an idea of where the infinite "loop" could be, perhaps?

This one?

[code]

Meanwhile, /cc @kukulich for ideas: perhaps would be best to remove `while ()` completely, and replace it with a functional concept (where possible)

[2022-10-27 12:43] lulco commented on #671
Well, I stopped it after second occurence of $identifierName PhpParser\NodeVisitorAbstract.

Here is trace for 10 occurences:
[code]

I have no idea where the infinite loop is from, I used this package only 3 days, and 2 of them I was trying to create minimal repo for reproduce issue :)

[2022-10-27 12:45] Ocramius commented on #671
OK, that looks more like infinite recursion, rather than infinite loop :D

That narrows down what this could be about.

Thanks for trying that meanwhile :+1:

[2022-10-27 13:03] lulco commented on #671
yes, wrong words used

[2022-10-30 19:53] Ocramius commented on #671
Related:

 * https://github.com/Roave/BetterReflection/issues/1242
 * https://github.com/phpstan/phpstan/issues/8082
 * https://github.com/Roave/BetterReflection/pull/1253
 * https://github.com/Roave/BetterReflection/pull/1254
 * https://github.com/Roave/BetterReflection/pull/1256

I don't have a solution nor time to investigate in the next few weeks, so I'm mostly linking existing tests for this

[2022-10-30 21:54] kukulich commented on #671
1. `Locator` needs name of the class to locate it: https://github.com/Roave/BetterReflection/blob/1eb943e/src/SourceLocator/Ast/Locator.php#L93
2. Anonymous class needs its parents to generate its name: https://github.com/Roave/BetterReflection/blob/1eb943e/src/Reflection/ReflectionClass.php#L264-L284

There's anonymous class in https://github.com/nette/forms/blob/fe2109ce8b77846a5f664bc412c7cf300

[2022-10-31 09:27] lulco commented on #671
When I was trying to create minimalistic repository, I found that I need both packages: forms and also php-generator. I am 90% sure I was trying also install only one of them with no success.

Maybe this behavior needs at least two anonymous classes?
Second is here: https://github.com/nette/php-generator/blob/master/src/PhpGenerator/Extractor.php#L175

[2022-10-31 18:10] kukulich commented on #671
I hope it should be fixed by https://github.com/Roave/BetterReflection/pull/1298

[2022-10-31 21:37] renovate[bot] opened #679 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/Roave/BackwardCompatibilityCheck).

## PR Edited (Blocked)

The following updates have been manually edited so Renovate will no longer make changes.

[2022-11-07 19:52] michael-rubel commented on #307
Hey @Ocramius, can we change this tool to pick the latest release? There's a case, for example, when methods were added to a class by mistake (from a trait) and weren't meant to be used in the class at all. Looking from a clear technical perspective, this is of course a BC break, but looking from practical usage, the methods are meaningless and can be fixed (removed) in a patch.

[2022-11-07 19:53] Ocramius commented on #307
@michael-rubel see https://github.com/Roave/BackwardCompatibilityCheck/issues/307#issuecomment-850454556

Feel free to send a patch for the next major.

[2022-11-07 19:55] michael-rubel commented on #307
@Ocramius looks like @ondrejmirtes already done that in his [fork](https://github.com/ondrejmirtes/BackwardCompatibilityCheck/commit/f88199461edebb1da5137bb9c9057145b3255b65). Should I resubmit that as a separate PR?

[2022-11-07 19:56] Ocramius commented on #307
Sure :+1:

[2022-11-07 20:26] michael-rubel commented on #307
@Ocramius done in: #687

Not sure the target branch is right, but I haven't found the `8.0.x`.

[2022-11-08 00:27] lulco commented on #336
Hi @Ocramius, I have similar issue with package whichbrowser/parser. Composer installs the package without any problem, so I just want to ask you. Why are Roave packages "more Catholic than the Pope"? Why these non-existing directories are not just skipped?

[2022-11-08 00:30] Ocramius commented on #336
... and why didn't you report the issue (and fix it) in `whichbrowser/parser`, instead of coming here with that tone?

[2022-11-08 09:36] Ocramius commented on #307
I'll change the target branch before merging :)

[2022-11-13 13:05] Ocramius commented on #307
Handled in #687

[2022-11-13 13:05] #307 closed

[2022-11-23 14:59] DanielBadura opened #698 "Handle new initializer and enum intiliazing as default value more gracefully"
Right now as soon as you initialize an object as default value.
[code]

 you get an error like this
[code]

Or using an enum value as default

[code]
you will receive this:
[code]

This is because of `roave/better-reflection` is throwing an exception in these cases which is expected see https://github.com/Roave/BetterReflection/issues/1311 for more information.

In the linked issue we discussed to

[2022-11-23 15:05] Ocramius commented on #698
I wonder if we should perform property-based and parameter-based checks in a try-catch for this sort of errors.

For example, see:

https://github.com/Roave/BackwardCompatibilityCheck/blob/8c6e978c4b838330016598defc322622fc801158/src/DetectChanges/BCBreak/ClassBased/SkipClassBasedErrors.php#L18-L26

Here we skip errors caused by reflection issues when looking at classes.

We already do it for prop

[2022-11-24 11:22] DanielBadura commented on #698
Hmm, i think there is a little misunderstanding then here. I saw these catches and they are indeed catching the error which comes from the reflection. Then it creates a `Change::skippedDueToFailure` and in there the change is marked as a BC-Break, which then results in the CI failing due to the reflection error.

So right now, just to show you the stacktrace i mean for e.g. the enum error I remove

[2022-11-24 16:19] Ocramius commented on #698
Effectively we need to wrap any `ReflectionProperty#getValue()` and `ReflectionParameter#getValue()` calls.

If the call throws, we may need to do some AST-based comparison perhaps?

[2022-11-24 16:36] DanielBadura commented on #698
Wrapping these two call here in `Roave\BackwardCompatibility\DetectChanges\BCBreak\FunctionBased\ParameterDefaultValueChanged`

[code]
With a try catch like this
[code]

Resolved both issues. But this feels wrong since we are catching then *everything* an pretends it is okay.

[2022-11-24 16:38] Ocramius commented on #698
Yeah, we need something more than just a `continue;`, but the code locations are correct

[2022-11-25 06:18] Ocramius commented on #698
What if we compared the AST of both expressions?

https://github.com/Roave/BetterReflection/blob/e6e95c20a83f9aa3554ae3bcb79937dcae9f15d5/src/Reflection/ReflectionProperty.php#L319

Practically:

 * compare values
 * if an exception is thrown, catch it, then compare expression ASTs
 * if ASTs don't match, raise the same problem

This can obviously fail with class renames, aliases, namespace import